Repository Canner/WrenAI, pull requests merged in 2024-10, with the labels that each got.

#688 feat(wren-ai-service): add all nested columns properties into column comment
  wren-ai-service/src/pipelines/indexing/indexing.py
Labels: module/ai-service, ci/ai-service

#687 chore(wren-ai-service): add RELEASE filter to langfuse data analysis notebook
  wren-ai-service/eval/dashboard/analysis.ipynb
Labels: module/ai-service, ci/ai-service

#682 feat(wren-ai-service): support multi compnents(llm, embedder, engine, document store) configuration
  .gitignore
  wren-ai-service/config.example.yaml
  wren-ai-service/demo/app.py
  wren-ai-service/demo/utils.py
  wren-ai-service/eval/prediction.py
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
  wren-ai-service/src/__main__.py
  wren-ai-service/src/core/pipeline.py
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/generation/followup_sql_generation.py
  wren-ai-service/src/pipelines/generation/sql_answer.py
  wren-ai-service/src/pipelines/generation/sql_breakdown.py
  wren-ai-service/src/pipelines/generation/sql_correction.py
  wren-ai-service/src/pipelines/generation/sql_expansion.py
  wren-ai-service/src/pipelines/generation/sql_explanation.py
  wren-ai-service/src/pipelines/generation/sql_generation.py
  wren-ai-service/src/pipelines/generation/sql_regeneration.py
  wren-ai-service/src/pipelines/generation/sql_summary.py
  wren-ai-service/src/pipelines/indexing/indexing.py
  wren-ai-service/src/pipelines/retrieval/historical_question.py
  wren-ai-service/src/pipelines/retrieval/retrieval.py
  wren-ai-service/src/providers/__init__.py
  wren-ai-service/src/providers/document_store/qdrant.py
  wren-ai-service/src/providers/embedder/azure_openai.py
  wren-ai-service/src/providers/embedder/ollama.py
  wren-ai-service/src/providers/embedder/openai.py
  wren-ai-service/src/providers/engine/wren.py
  wren-ai-service/src/providers/llm/azure_openai.py
  wren-ai-service/src/providers/llm/ollama.py
  wren-ai-service/src/providers/llm/openai.py
  wren-ai-service/src/utils.py
  wren-ai-service/tests/pytest/pipelines/test_ask.py
  wren-ai-service/tests/pytest/pipelines/test_ask_details.py
  wren-ai-service/tests/pytest/pipelines/test_document_cleaner.py
  wren-ai-service/tests/pytest/services/test_ask.py
  wren-ai-service/tests/pytest/services/test_ask_details.py
  wren-ai-service/tests/pytest/test_utils.py
Labels: module/ai-service, ci/ai-service

#691 chore(wren-ai-service): sql2answer-minor-update
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
  wren-ai-service/src/providers/llm/openai.py
Labels: module/ai-service, ci/ai-service

#721 chore(wren-ai-service): minor updates
  wren-ai-service/demo/utils.py
  wren-ai-service/src/pipelines/retrieval/retrieval.py
Labels: module/ai-service, ci/ai-service

#728 fix(wren-launcher): for Installation should stop when exiting the launcher
  wren-launcher/commands/launch.go
Labels: hacktoberfest-accepted

#716 feat(wren-ai-service): semantics description pipeline to generate or optimize the user description
  wren-ai-service/config.example.yaml
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/generation/semantics_description.py
  wren-ai-service/src/web/v1/routers/__init__.py
  wren-ai-service/src/web/v1/routers/semantics_description.py
  wren-ai-service/src/web/v1/services/semantics_description.py
  wren-ai-service/tests/pytest/services/test_semantics_description.py
Labels: module/ai-service, ci/ai-service

#723 feat(wren-ai-service): relationships recommendation pipeline to produce the relationships for users easily establish
  wren-ai-service/config.example.yaml
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/generation/relationship_recommendation.py
  wren-ai-service/src/web/v1/routers/__init__.py
  wren-ai-service/src/web/v1/routers/relationship_recommendation.py
  wren-ai-service/src/web/v1/services/relationship_recommendation.py
  wren-ai-service/tests/pytest/services/test_relationship_recommendation.py
Labels: module/ai-service, ci/ai-service

#715 chore(wren-ai-service): add codebase introduction docs
  wren-ai-service/CONTRIBUTING.md
  wren-ai-service/docs/code_design.md
  wren-ai-service/docs/imgs/shallow_trace_example.png
  wren-ai-service/eval/README.md
Labels: module/ai-service, ci/ai-service

#701 feat(wren-ui): Support record type in BigQuery
  wren-ui/migrations/20240928165009_create_model_nested_column.js
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/diagram.generated.ts
  wren-ui/src/apollo/client/graphql/diagram.ts
  wren-ui/src/apollo/server/mdl/mdlBuilder.ts
  wren-ui/src/apollo/server/mdl/test/mdlBuilder.test.ts
  wren-ui/src/apollo/server/models/model.ts
  wren-ui/src/apollo/server/repositories/baseRepository.ts
  wren-ui/src/apollo/server/repositories/index.ts
  wren-ui/src/apollo/server/repositories/modelNestedColumnRepository.ts
  wren-ui/src/apollo/server/resolvers.ts
  wren-ui/src/apollo/server/resolvers/diagramResolver.ts
  wren-ui/src/apollo/server/resolvers/modelResolver.ts
  wren-ui/src/apollo/server/resolvers/projectResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/services/mdlService.ts
  wren-ui/src/apollo/server/services/metadataService.ts
  wren-ui/src/apollo/server/types/context.ts
  wren-ui/src/apollo/server/types/diagram.ts
  wren-ui/src/apollo/server/utils/helper.ts
  wren-ui/src/apollo/server/utils/model.ts
  wren-ui/src/components/pages/modeling/metadata/EditModelMetadata.tsx
  wren-ui/src/components/table/BaseTable.tsx
  wren-ui/src/components/table/EditableBaseTable.tsx
  wren-ui/src/components/table/FieldTable.tsx
  wren-ui/src/components/table/NestedFieldTable.tsx
  wren-ui/src/pages/api/graphql.ts
  wren-ui/src/styles/components/table.less
  wren-ui/src/utils/columnType.tsx
  wren-ui/src/utils/data/type/modeling.ts
  wren-ui/src/utils/enum/columnType.ts
Labels: module/ui, ci/ui

#734 chore(wren-ai-service): manual running pytest to avoid auth issue from forked repo
  .github/workflows/ai-service-test.yaml
Labels: module/ai-service

#737 feat(wren-ai-service): update the web endpoint format for semantics description
  wren-ai-service/src/web/v1/routers/semantics_description.py
Labels: module/ai-service, ci/ai-service

#740 chore(wren-ai-service): minor updates
  wren-ai-service/src/pipelines/retrieval/retrieval.py
Labels: module/ai-service, ci/ai-service

#741 fix(wren-ui): mdl format of nested column
  wren-ui/src/apollo/server/mdl/mdlBuilder.ts
Labels: module/ui

#743 chore(wren-ai-service): revert "Upgrade AI Service version to 0.13.1"
  wren-ai-service/pyproject.toml
Labels: module/ai-service

#761 feat(wren-ai-service): spider metrics in evaluation
  .github/workflows/ai-service-test.yaml
  .gitignore
  wren-ai-service/Justfile
  wren-ai-service/eval/.env.example
  wren-ai-service/eval/README.md
  wren-ai-service/eval/data_curation/app.py
  wren-ai-service/eval/data_curation/utils.py
  wren-ai-service/eval/evaluation.py
  wren-ai-service/eval/mdl_to_csv.py
  wren-ai-service/eval/metrics/column.py
  wren-ai-service/eval/metrics/spider/__init__.py
  wren-ai-service/eval/metrics/spider/exact_match.py
  wren-ai-service/eval/metrics/spider/exec_match.py
  wren-ai-service/eval/metrics/spider/process_sql.py
  wren-ai-service/eval/pipelines.py
  wren-ai-service/eval/prediction.py
  wren-ai-service/eval/preparation.py
  wren-ai-service/eval/utils.py
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
  wren-ai-service/tools/dev/.env.example
Labels: module/ai-service, ci/ai-service

#762 chore(wren-ai-service): fix security issue
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
Labels: module/ai-service, ci/ai-service

#767 feat(wren-ai-service): remove relation columns before generating semantics description and error code enhancement
  wren-ai-service/src/pipelines/generation/semantics_description.py
  wren-ai-service/src/web/v1/services/relationship_recommendation.py
  wren-ai-service/src/web/v1/services/semantics_description.py
  wren-ai-service/tests/pytest/services/test_relationship_recommendation.py
  wren-ai-service/tests/pytest/services/test_semantics_description.py
Labels: module/ai-service, ci/ai-service

#766 chore(wren-ai-service): update eval
  wren-ai-service/Justfile
  wren-ai-service/eval/README.md
  wren-ai-service/eval/add_samples_to_toml.py
  wren-ai-service/eval/data_curation/app.py
  wren-ai-service/eval/data_curation/utils.py
  wren-ai-service/eval/evaluation.py
  wren-ai-service/eval/metrics/__init__.py
  wren-ai-service/eval/metrics/accuracy.py
  wren-ai-service/eval/metrics/answer_relevancy.py
  wren-ai-service/eval/metrics/column.py
  wren-ai-service/eval/metrics/context_precision.py
  wren-ai-service/eval/metrics/context_recall.py
  wren-ai-service/eval/metrics/context_relevancy.py
  wren-ai-service/eval/metrics/faithfulness.py
  wren-ai-service/eval/metrics/spider/exact_match.py
  wren-ai-service/eval/metrics/spider/exec_match.py
  wren-ai-service/eval/pipelines.py
  wren-ai-service/eval/preparation.py
  wren-ai-service/eval/utils.py
  wren-ai-service/src/pipelines/common.py
  wren-ai-service/src/pipelines/generation/sql_generation.py
  wren-ai-service/tests/pytest/eval/test_metrics.py
Labels: module/ai-service, ci/ai-service

#731 chore(wren-ai-service): Using OpenAI API Structured Output
  README.md
  wren-ai-service/src/pipelines/generation/followup_sql_generation.py
  wren-ai-service/src/pipelines/generation/relationship_recommendation.py
  wren-ai-service/src/pipelines/generation/semantics_description.py
  wren-ai-service/src/pipelines/generation/sql_answer.py
  wren-ai-service/src/pipelines/generation/sql_breakdown.py
  wren-ai-service/src/pipelines/generation/sql_correction.py
  wren-ai-service/src/pipelines/generation/sql_expansion.py
  wren-ai-service/src/pipelines/generation/sql_explanation.py
  wren-ai-service/src/pipelines/generation/sql_generation.py
  wren-ai-service/src/pipelines/generation/sql_regeneration.py
  wren-ai-service/src/pipelines/generation/sql_summary.py
  wren-ai-service/src/pipelines/retrieval/retrieval.py
  wren-ai-service/src/providers/llm/azure_openai.py
  wren-ai-service/src/providers/llm/ollama.py
  wren-ai-service/src/providers/llm/openai.py
Labels: module/ai-service, ci/ai-service

#784 chore(wren-ai-service): refine sql generation
  wren-ai-service/src/pipelines/generation/followup_sql_generation.py
  wren-ai-service/src/pipelines/generation/relationship_recommendation.py
  wren-ai-service/src/pipelines/generation/semantics_description.py
  wren-ai-service/src/pipelines/generation/sql_answer.py
  wren-ai-service/src/pipelines/generation/sql_breakdown.py
  wren-ai-service/src/pipelines/generation/sql_correction.py
  wren-ai-service/src/pipelines/generation/sql_expansion.py
  wren-ai-service/src/pipelines/generation/sql_explanation.py
  wren-ai-service/src/pipelines/generation/sql_generation.py
  wren-ai-service/src/pipelines/generation/sql_regeneration.py
  wren-ai-service/src/pipelines/generation/sql_summary.py
  wren-ai-service/src/pipelines/retrieval/retrieval.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/src/web/v1/services/ask_details.py
  wren-ai-service/src/web/v1/services/sql_expansion.py
  wren-ai-service/tests/pytest/pipelines/test_ask_details.py
  wren-ai-service/tests/pytest/services/mocks.py
Labels: module/ai-service, ci/ai-service

#788 feat(wren-ui): Add candidate showing flow when in generating state
  wren-ui/src/components/pages/home/prompt/Result.tsx
Labels: module/ui

#789 feat(wren-ui): Implement project language setting
  wren-ui/migrations/20241021073019_update_project_language.js
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/settings.generated.ts
  wren-ui/src/apollo/client/graphql/settings.ts
  wren-ui/src/apollo/server/adaptors/wrenAIAdaptor.ts
  wren-ui/src/apollo/server/repositories/projectRepository.ts
  wren-ui/src/apollo/server/resolvers.ts
  wren-ui/src/apollo/server/resolvers/askingResolver.ts
  wren-ui/src/apollo/server/resolvers/projectResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/services/askingService.ts
  wren-ui/src/components/settings/ProjectSettings.tsx
  wren-ui/src/components/settings/index.tsx
  wren-ui/src/utils/language.ts
Labels: module/ui

#795 chore(wren-ui): Replace logo to vector svg
  wren-ui/public/images/logo-white-with-text.svg
  wren-ui/public/images/logo-white.svg
  wren-ui/public/images/logo.svg
  wren-ui/src/components/Logo.tsx
  wren-ui/src/pages/home/index.tsx
  wren-ui/src/styles/layouts/main.less
Labels: module/ui

#809 fix(wren-ui): Stop polling if users click candidate during generating
  wren-ui/src/components/pages/home/prompt/index.tsx
  wren-ui/src/hooks/useAskPrompt.tsx
  wren-ui/src/pages/home/[id].tsx
  wren-ui/src/pages/home/index.tsx
Labels: module/ui

#793 fix(wren-ai-service): pass default value for status attribute
  wren-ai-service/src/web/v1/services/semantics_description.py
Labels: module/ai-service, ci/ai-service

#816 fix(wren-ui): build
  wren-ui/src/apollo/server/adaptors/tests/ibisAdaptor.test.ts
  wren-ui/src/hooks/useSetupConnection.tsx
Labels: module/ui

#808 feat(wren-ai-service): adjust relation recommendation pipeline prompt and output spec
  wren-ai-service/src/pipelines/generation/relationship_recommendation.py
Labels: module/ai-service, ci/ai-service

#826 chore(wren-ui): rename to Data connection error
  wren-ui/src/apollo/server/utils/error.ts
Labels: module/ui

#828 feat(wren-ui): show info message if there are no recommended relationships
  wren-ui/src/components/pages/setup/DefineRelations.tsx
Labels: module/ui

#827 chore(wren-ai-service): fix sql-to-answer issue
  .gitignore
  wren-ai-service/src/pipelines/generation/sql_answer.py
  wren-ai-service/src/providers/llm/openai.py
Labels: module/ai-service, ci/ai-service

#836 chore(wren-ai-service): update langfuse analysis notebook
  wren-ai-service/eval/dashboard/analysis.ipynb
Labels: module/ai-service, ci/ai-service

#843 feat(wren-ui): Implement modeling page onboarding guide
  wren-ui/migrations/20241029092204_create_learning_table.js
  wren-ui/package.json
  wren-ui/public/images/learning/ask-question.jpg
  wren-ui/public/images/learning/data-modeling.jpg
  wren-ui/public/images/learning/deploy-modeling.jpg
  wren-ui/public/images/learning/edit-metadata.gif
  wren-ui/public/images/learning/edit-model.gif
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/learning.generated.ts
  wren-ui/src/apollo/client/graphql/learning.ts
  wren-ui/src/apollo/server/repositories/index.ts
  wren-ui/src/apollo/server/repositories/learningRepository.ts
  wren-ui/src/apollo/server/resolvers.ts
  wren-ui/src/apollo/server/resolvers/learningResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/types/context.ts
  wren-ui/src/components/ActionButton.tsx
  wren-ui/src/components/deploy/Deploy.tsx
  wren-ui/src/components/diagram/customNode/ModelNode.tsx
  wren-ui/src/components/learning/guide/index.tsx
  wren-ui/src/components/learning/guide/stories.tsx
  wren-ui/src/components/learning/guide/utils.ts
  wren-ui/src/components/learning/index.tsx
  wren-ui/src/components/pages/setup/utils.tsx
  wren-ui/src/components/sidebar/index.tsx
  wren-ui/src/components/sidebar/modeling/ModelTree.tsx
  wren-ui/src/hooks/useCheckOnboarding.tsx
  wren-ui/src/hooks/useSetupConnection.tsx
  wren-ui/src/hooks/useSetupRelations.tsx
  wren-ui/src/pages/api/graphql.ts
  wren-ui/src/styles/components/driver.less
  wren-ui/src/styles/index.less
  wren-ui/src/styles/utilities/display.less
  wren-ui/src/styles/utilities/text.less
  wren-ui/yarn.lock
Labels: module/ui

#833 chore(wren-ai-service): minor updates
  wren-ai-service/demo/app.py
  wren-ai-service/demo/utils.py
  wren-ai-service/src/pipelines/common.py
  wren-ai-service/src/pipelines/generation/followup_sql_generation.py
  wren-ai-service/src/pipelines/generation/sql_answer.py
  wren-ai-service/src/pipelines/generation/sql_correction.py
  wren-ai-service/src/pipelines/generation/sql_expansion.py
  wren-ai-service/src/pipelines/generation/sql_generation.py
  wren-ai-service/src/pipelines/generation/sql_summary.py
  wren-ai-service/src/pipelines/retrieval/retrieval.py
  wren-ai-service/src/providers/embedder/azure_openai.py
  wren-ai-service/src/providers/embedder/openai.py
  wren-ai-service/src/providers/engine/wren.py
  wren-ai-service/src/providers/llm/azure_openai.py
  wren-ai-service/src/providers/llm/ollama.py
  wren-ai-service/src/providers/llm/openai.py
  wren-ai-service/src/utils.py
  wren-ai-service/src/web/v1/routers/ask.py
  wren-ai-service/src/web/v1/routers/sql_answers.py
  wren-ai-service/src/web/v1/routers/sql_expansions.py
  wren-ai-service/src/web/v1/services/__init__.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/src/web/v1/services/ask_details.py
  wren-ai-service/src/web/v1/services/sql_answer.py
  wren-ai-service/src/web/v1/services/sql_expansion.py
  wren-ai-service/tests/pytest/pipelines/test_ask.py
  wren-ai-service/tests/pytest/test_utils.py
Labels: module/ai-service, ci/ai-service
