Repository Canner/WrenAI, pull requests merged in 2024-12, with the labels that each got.

#894 chore(wren-ai-service): sql 2 answer streaming
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  wren-ai-service/demo/utils.py
  wren-ai-service/src/core/pipeline.py
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/generation/data_assistance.py
  wren-ai-service/src/pipelines/generation/sql_answer.py
  wren-ai-service/src/pipelines/retrieval/preprocess_sql_data.py
  wren-ai-service/src/pipelines/retrieval/sql_executor.py
  wren-ai-service/src/web/v1/routers/sql_answers.py
  wren-ai-service/src/web/v1/services/sql_answer.py
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
Labels: module/ai-service, ci/ai-service

#967 chore(wren-ai-service): refactor the indexing pipeline to focus on the function
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  wren-ai-service/eval/data_curation/utils.py
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/indexing/__init__.py
  wren-ai-service/src/pipelines/indexing/db_schema.py
  wren-ai-service/src/pipelines/indexing/historical_question.py
  wren-ai-service/src/pipelines/indexing/indexing.py
  wren-ai-service/src/pipelines/indexing/table_description.py
  wren-ai-service/src/pipelines/indexing/utils/helper.py
  wren-ai-service/src/pipelines/retrieval/historical_question.py
  wren-ai-service/src/pipelines/retrieval/retrieval.py
  wren-ai-service/src/web/v1/routers/semantics_preparations.py
  wren-ai-service/src/web/v1/services/semantics_preparation.py
  wren-ai-service/tests/pytest/pipelines/indexing/test_db_schema.py
  wren-ai-service/tests/pytest/pipelines/indexing/test_helper.py
  wren-ai-service/tests/pytest/pipelines/indexing/test_historical_questions.py
  wren-ai-service/tests/pytest/pipelines/indexing/test_indexing.py
  wren-ai-service/tests/pytest/pipelines/indexing/test_table_description.py
  wren-ai-service/tests/pytest/pipelines/test_ask.py
  wren-ai-service/tests/pytest/pipelines/test_document_cleaner.py
  wren-ai-service/tests/pytest/services/test_ask.py
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
Labels: module/ai-service, ci/ai-service

#972 chore(wren-ai-service): remove logger.debug messages
  wren-ai-service/src/core/engine.py
  wren-ai-service/src/pipelines/retrieval/sql_executor.py
  wren-ai-service/src/providers/embedder/ollama.py
  wren-ai-service/src/providers/llm/ollama.py
  wren-ai-service/src/providers/loader.py
  wren-ai-service/src/web/v1/services/question_recommendation.py
Labels: module/ai-service, ci/ai-service

#978 chore(wren-ai-service): update langfuse analysis
  wren-ai-service/eval/dashboard/analysis.ipynb
Labels: module/ai-service, ci/ai-service

#946 feat(wren-ai-service): litellm integration
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
  wren-ai-service/src/core/provider.py
  wren-ai-service/src/pipelines/generation/data_assistance.py
  wren-ai-service/src/pipelines/generation/followup_sql_generation.py
  wren-ai-service/src/pipelines/generation/intent_classification.py
  wren-ai-service/src/pipelines/generation/question_recommendation.py
  wren-ai-service/src/pipelines/generation/relationship_recommendation.py
  wren-ai-service/src/pipelines/generation/semantics_description.py
  wren-ai-service/src/pipelines/generation/sql_breakdown.py
  wren-ai-service/src/pipelines/generation/sql_correction.py
  wren-ai-service/src/pipelines/generation/sql_expansion.py
  wren-ai-service/src/pipelines/generation/sql_explanation.py
  wren-ai-service/src/pipelines/generation/sql_generation.py
  wren-ai-service/src/pipelines/generation/sql_regeneration.py
  wren-ai-service/src/pipelines/generation/sql_summary.py
  wren-ai-service/src/pipelines/retrieval/retrieval.py
  wren-ai-service/src/providers/__init__.py
  wren-ai-service/src/providers/llm/__init__.py
  wren-ai-service/src/providers/llm/azure_openai.py
  wren-ai-service/src/providers/llm/litellm.py
  wren-ai-service/src/providers/llm/ollama.py
  wren-ai-service/src/providers/llm/openai.py
  wren-ai-service/tests/pytest/providers/test_loader.py
  wren-ai-service/tools/config/config.full.yaml
Labels: module/ai-service, ci/ai-service

#981 chore(wren-ai-service): fix changelog generation in ai service release workflow
  .github/workflows/ai-service-release-stable-image.yaml
Labels: module/ai-service

#983 chore(wren-ai-service): fix llm issues
  wren-ai-service/src/core/engine.py
  wren-ai-service/src/providers/llm/azure_openai.py
  wren-ai-service/src/providers/llm/litellm.py
  wren-ai-service/src/providers/llm/ollama.py
  wren-ai-service/src/providers/llm/openai.py
Labels: module/ai-service, ci/ai-service

#990 feat(wren-ai-service): minimize the duration for empty document and async helper for model preprocessor
  wren-ai-service/src/pipelines/common.py
  wren-ai-service/src/pipelines/indexing/__init__.py
  wren-ai-service/src/pipelines/indexing/db_schema.py
  wren-ai-service/src/pipelines/indexing/historical_question.py
  wren-ai-service/src/pipelines/indexing/table_description.py
  wren-ai-service/tests/pytest/pipelines/indexing/test_db_schema.py
  wren-ai-service/tests/pytest/pipelines/indexing/test_indexing.py
Labels: module/ai-service, ci/ai-service

#987 chore(wren-ai-service): use litellm as default llm provider
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
  wren-launcher/utils/docker.go
Labels: module/ai-service, ci/ai-service

#991 chore(wren-ai-service): refine ai service
  wren-ai-service/src/pipelines/generation/data_assistance.py
  wren-ai-service/src/pipelines/generation/intent_classification.py
Labels: module/ai-service, ci/ai-service

#996 chore(wren-ai-service): component-based architecture refactoring for test cases and required project id for semantics deletion
  .github/workflows/ai-service-test.yaml
  wren-ai-service/src/web/v1/routers/semantics_preparations.py
  wren-ai-service/tests/pytest/pipelines/test_ask.py
  wren-ai-service/tests/pytest/pipelines/test_ask_details.py
  wren-ai-service/tests/pytest/services/test_ask.py
  wren-ai-service/tests/pytest/services/test_ask_details.py
  wren-ai-service/tests/pytest/test_config.py
Labels: module/ai-service, ci/ai-service

#679 feat(wren-ai-service):text2chart
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  docker/docker-compose-dev.yaml
  wren-ai-service/demo/app.py
  wren-ai-service/demo/utils.py
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/common.py
  wren-ai-service/src/pipelines/generation/chart_adjustment.py
  wren-ai-service/src/pipelines/generation/chart_generation.py
  wren-ai-service/src/pipelines/generation/data_assistance.py
  wren-ai-service/src/pipelines/generation/utils/chart.py
  wren-ai-service/src/pipelines/generation/utils/vega-lite-schema-v5.json
  wren-ai-service/src/pipelines/retrieval/sql_executor.py
  wren-ai-service/src/providers/__init__.py
  wren-ai-service/src/providers/engine/wren.py
  wren-ai-service/src/web/v1/routers/__init__.py
  wren-ai-service/src/web/v1/routers/chart.py
  wren-ai-service/src/web/v1/routers/chart_adjustment.py
  wren-ai-service/src/web/v1/services/chart.py
  wren-ai-service/src/web/v1/services/chart_adjustment.py
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
Labels: module/ai-service, ci/ai-service

#1002 chore(wren-ai-service): fix generator run
  wren-ai-service/src/pipelines/generation/chart_adjustment.py
  wren-ai-service/src/pipelines/generation/chart_generation.py
  wren-ai-service/src/pipelines/generation/sql_answer.py
Labels: module/ai-service, ci/ai-service

#997 feat(wren-ui): Support for Text-to-Chart in Thread Answers (Beta)
  wren-ui/migrations/20241210072534_update_thread_response_table.js
  wren-ui/package.json
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/home.generated.ts
  wren-ui/src/apollo/client/graphql/home.ts
  wren-ui/src/apollo/server/adaptors/wrenAIAdaptor.ts
  wren-ui/src/apollo/server/backgrounds/chart.ts
  wren-ui/src/apollo/server/backgrounds/index.ts
  wren-ui/src/apollo/server/models/adaptor.ts
  wren-ui/src/apollo/server/repositories/threadResponseRepository.ts
  wren-ui/src/apollo/server/resolvers.ts
  wren-ui/src/apollo/server/resolvers/askingResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/services/askingService.ts
  wren-ui/src/apollo/server/telemetry/telemetry.ts
  wren-ui/src/components/chart/handler.ts
  wren-ui/src/components/chart/index.tsx
  wren-ui/src/components/chart/properties/BasicProperties.tsx
  wren-ui/src/components/chart/properties/DonutProperties.tsx
  wren-ui/src/components/chart/properties/GroupedBarProperties.tsx
  wren-ui/src/components/chart/properties/LineProperties.tsx
  wren-ui/src/components/chart/properties/StackedBarProperties.tsx
  wren-ui/src/components/pages/home/promptThread/AnswerResult.tsx
  wren-ui/src/components/pages/home/promptThread/ChartAnswer.tsx
  wren-ui/src/components/pages/home/promptThread/TextBasedAnswer.tsx
  wren-ui/src/components/pages/home/promptThread/index.tsx
  wren-ui/src/pages/home/[id].tsx
  wren-ui/src/styles/components/chart.less
  wren-ui/src/styles/index.less
  wren-ui/src/utils/enum/home.ts
  wren-ui/src/utils/helper.ts
  wren-ui/yarn.lock
Labels: module/ui

#1011 chore(wren-ai-service): improve text2chart
  wren-ai-service/src/pipelines/generation/utils/chart.py
Labels: module/ai-service, ci/ai-service

#1013 chore(wren-ai-service): remove pipeline visualization
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
  wren-ai-service/src/pipelines/common.py
  wren-ai-service/src/pipelines/generation/chart_adjustment.py
  wren-ai-service/src/pipelines/generation/chart_generation.py
  wren-ai-service/src/pipelines/generation/data_assistance.py
  wren-ai-service/src/pipelines/generation/followup_sql_generation.py
  wren-ai-service/src/pipelines/generation/intent_classification.py
  wren-ai-service/src/pipelines/generation/question_recommendation.py
  wren-ai-service/src/pipelines/generation/relationship_recommendation.py
  wren-ai-service/src/pipelines/generation/semantics_description.py
  wren-ai-service/src/pipelines/generation/sql_answer.py
  wren-ai-service/src/pipelines/generation/sql_breakdown.py
  wren-ai-service/src/pipelines/generation/sql_correction.py
  wren-ai-service/src/pipelines/generation/sql_expansion.py
  wren-ai-service/src/pipelines/generation/sql_explanation.py
  wren-ai-service/src/pipelines/generation/sql_generation.py
  wren-ai-service/src/pipelines/generation/sql_regeneration.py
  wren-ai-service/src/pipelines/generation/sql_summary.py
  wren-ai-service/src/pipelines/indexing/db_schema.py
  wren-ai-service/src/pipelines/indexing/historical_question.py
  wren-ai-service/src/pipelines/indexing/table_description.py
  wren-ai-service/src/pipelines/retrieval/historical_question.py
  wren-ai-service/src/pipelines/retrieval/preprocess_sql_data.py
  wren-ai-service/src/pipelines/retrieval/retrieval.py
  wren-ai-service/src/pipelines/retrieval/sql_executor.py
Labels: module/ai-service, ci/ai-service

#1014 fix(wren-ui): trigger polling initially & prevent generate recommend questions when deploying if using sample dataset
  wren-ui/src/apollo/server/resolvers/modelResolver.ts
  wren-ui/src/apollo/server/resolvers/projectResolver.ts
  wren-ui/src/pages/modeling.tsx
Labels: module/ui

#1017 chore(wren-ui): change alpine to bookworm-slim
  wren-ui/Dockerfile
Labels: module/ui

#1016 chore(wren-ai-service): improve text2chart and text2answer
  wren-ai-service/src/pipelines/generation/chart_adjustment.py
  wren-ai-service/src/pipelines/generation/chart_generation.py
  wren-ai-service/src/pipelines/generation/sql_answer.py
  wren-ai-service/src/pipelines/retrieval/retrieval.py
Labels: module/ai-service, ci/ai-service

#1025 chore(wren-ui): adjust text-based answer view results remark
  wren-ui/src/components/pages/home/promptThread/TextBasedAnswer.tsx
Labels: module/ui

#1026 chore(wren-ui): add alert info to users if no rows
  wren-ui/src/components/pages/home/promptThread/TextBasedAnswer.tsx
Labels: module/ui

#1027 fix(wren-ui): alert info to show when streaming finishes
  wren-ui/src/components/pages/home/promptThread/TextBasedAnswer.tsx
Labels: module/ui

#1008 feat(wren-ai-service): Question Recommendation Pipeline Optimization
  wren-ai-service/src/pipelines/generation/question_recommendation.py
Labels: module/ai-service, ci/ai-service

#1028 fix(wren-ui): chart sortBy categories to descent
  wren-ui/src/components/chart/handler.ts
Labels: module/ui

#1033 chore(wren-ai-service): fix missing dev dep
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
Labels: module/ai-service, ci/ai-service

#1045 chore(wren-ai-service): make openai llm version fixed
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  wren-ai-service/src/web/v1/services/__init__.py
  wren-ai-service/tests/pytest/services/test_relationship_recommendation.py
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
  wren-launcher/utils/docker.go
Labels: module/ai-service, ci/ai-service

#1050 chore(wren-ai-service): fix add comment to column properties
  wren-ai-service/src/pipelines/indexing/utils/helper.py
  wren-ai-service/tests/pytest/pipelines/indexing/test_helper.py
Labels: module/ai-service, ci/ai-service

#1051 fix(wren-ui): Calculated fields in model preview Issue & improvements
  wren-ui/src/apollo/server/resolvers/modelResolver.ts
  wren-ui/src/apollo/server/utils/model.ts
  wren-ui/src/components/selectors/lineageSelector/index.tsx
  wren-ui/src/utils/columnType.tsx
  wren-ui/src/utils/enum/columnType.ts
  wren-ui/src/utils/validator/calculatedFieldValidator.ts
Labels: module/ui

#1059 fix(wren-ai-service): fix column pruning check criteria
  wren-ai-service/src/pipelines/retrieval/retrieval.py
Labels: module/ai-service, ci/ai-service

#1009 chore(wren-ai-service): improve ai service
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  wren-ai-service/Justfile
  wren-ai-service/demo/utils.py
  wren-ai-service/src/__main__.py
  wren-ai-service/src/force_update_config.py
  wren-ai-service/src/pipelines/common.py
  wren-ai-service/src/pipelines/generation/followup_sql_generation.py
  wren-ai-service/src/pipelines/generation/intent_classification.py
  wren-ai-service/src/pipelines/generation/sql_breakdown.py
  wren-ai-service/src/pipelines/generation/sql_correction.py
  wren-ai-service/src/pipelines/generation/sql_expansion.py
  wren-ai-service/src/pipelines/generation/sql_generation.py
  wren-ai-service/src/pipelines/generation/sql_regeneration.py
  wren-ai-service/src/pipelines/generation/utils/sql.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/tests/pytest/test_usecases.py
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
Labels: module/ai-service, ci/ai-service

#1064 chore(wren-ai-service): fix historical question query input
  wren-ai-service/src/web/v1/services/ask.py
Labels: module/ai-service, ci/ai-service

#1062 fix(wren-ui): remove custom scale & add adjustment flag for adjust chart scenario
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/home.generated.ts
  wren-ui/src/apollo/client/graphql/home.ts
  wren-ui/src/apollo/server/backgrounds/chart.ts
  wren-ui/src/apollo/server/repositories/threadResponseRepository.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/services/askingService.ts
  wren-ui/src/components/chart/handler.ts
  wren-ui/src/components/pages/home/promptThread/ChartAnswer.tsx
  wren-ui/src/styles/components/chart.less
Labels: module/ui

#1067 chore(wren-ai-service): refine intent classification for time related questions
  wren-ai-service/src/pipelines/generation/intent_classification.py
Labels: module/ai-service, ci/ai-service

#1068 chore(wren-ai-service): improve ai service
  wren-ai-service/Justfile
  wren-ai-service/demo/run_sql.py
  wren-ai-service/demo/utils.py
  wren-ai-service/src/pipelines/generation/utils/chart.py
Labels: module/ai-service, ci/ai-service

#1069 fix(wren-ui): Remove line chart color properties reset & adjust config
  wren-ui/src/components/chart/handler.ts
Labels: module/ui

#1070 chore(wren-ai-service): improve text2sql process
  wren-ai-service/src/web/v1/services/ask.py
Labels: module/ai-service, ci/ai-service

#1073 chore(wren-ai-service): langfuse analysis
  wren-ai-service/Justfile
  wren-ai-service/eval/dashboard/.env.example
  wren-ai-service/eval/llm_trace_analysis/__init__.py
  wren-ai-service/eval/llm_trace_analysis/notebook.ipynb
  wren-ai-service/eval/llm_trace_analysis/report_gen.py
Labels: module/ai-service, ci/ai-service

#1074 chore(wren-ai-service): fix intent classification
  wren-ai-service/src/pipelines/generation/intent_classification.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/tests/pytest/services/mocks.py
Labels: module/ai-service, ci/ai-service

#1071 chore(wren-ai-service): refactorings
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
  wren-ai-service/src/__main__.py
  wren-ai-service/src/config.py
  wren-ai-service/src/core/provider.py
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/common.py
  wren-ai-service/src/pipelines/generation/followup_sql_generation.py
  wren-ai-service/src/pipelines/generation/intent_classification.py
  wren-ai-service/src/pipelines/generation/sql_expansion.py
  wren-ai-service/src/pipelines/generation/sql_generation.py
  wren-ai-service/src/providers/__init__.py
  wren-ai-service/src/providers/llm/litellm.py
  wren-ai-service/src/providers/loader.py
  wren-ai-service/src/utils.py
  wren-ai-service/src/web/v1/services/sql_expansion.py
  wren-ai-service/tests/pytest/test_config.py
  wren-ai-service/tests/pytest/test_utils.py
Labels: module/ai-service, ci/ai-service

#1029 chore(wren-ui): change base image and optimize docker build
  .github/workflows/ui-release-image-stable.yaml
  .github/workflows/ui-release-image.yaml
  wren-ui/.yarn/releases/yarn-4.5.3.cjs
  wren-ui/.yarnrc.yml
  wren-ui/Dockerfile
  wren-ui/package.json
  wren-ui/yarn.lock
Labels: module/ui
