Repository Canner/WrenAI, pull requests merged in 2024-05, with the labels that each got.

#178 feat(wren-ui): Support calculated field modal UI
  wren-ui/src/components/diagram/customNode/ModelNode.tsx
  wren-ui/src/components/editor/CodeBlock.tsx
  wren-ui/src/components/modals/CalculatedFieldModal.tsx
  wren-ui/src/components/pages/modeling/metadata/EditModelMetadata.tsx
  wren-ui/src/components/pages/modeling/metadata/ModelMetadata.tsx
  wren-ui/src/components/selectors/DescriptiveSelector.tsx
  wren-ui/src/components/selectors/Selector.tsx
  wren-ui/src/components/selectors/lineageSelector/FieldSelect.tsx
  wren-ui/src/components/selectors/lineageSelector/index.tsx
  wren-ui/src/components/table/BaseTable.tsx
  wren-ui/src/components/table/CalculatedFieldTable.tsx
  wren-ui/src/hooks/useExpressionFieldOptions.tsx
  wren-ui/src/pages/modeling.tsx
  wren-ui/src/styles/components/select.less
  wren-ui/src/styles/index.less
  wren-ui/src/utils/error/dictionary.ts
  wren-ui/src/utils/validator/index.ts
  wren-ui/src/utils/validator/lineageSelectorValidator.ts
Labels: module/ui, ci/ui

#187 feature(wren-ai-service): add mdl view in sample dataset for validation
  wren-ai-service/demo/sample_dataset/music_duckdb_mdl.json
  wren-ai-service/demo/sample_dataset/nba_duckdb_mdl.json
Labels: module/ai-service

#189 fix(wren-ui): Column may have multiple relationships with different models
  wren-ui/src/apollo/server/resolvers/diagramResolver.ts
  wren-ui/src/utils/diagram/transformer.ts
Labels: module/ui

#186 fix(wren-ui): fix recommend relationships for pg
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/dataSource.generated.ts
  wren-ui/src/apollo/client/graphql/dataSource.ts
  wren-ui/src/apollo/server/resolvers/projectResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/components/pages/setup/DefineRelations.tsx
  wren-ui/src/hooks/useSetupRelations.tsx
  wren-ui/src/pages/setup/relationships.tsx
Labels: module/ui, ci/ui

#185 feat(wren-ui): UI integrating API to model CRUD
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/components/pages/modeling/ModelDrawer.tsx
  wren-ui/src/components/pages/modeling/form/ModelForm.tsx
  wren-ui/src/pages/modeling.tsx
  wren-ui/src/utils/errorHandler.tsx
Labels: module/ui

#190 feat(wren-ui): UI integrating API to calculated field
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/calculatedField.generated.ts
  wren-ui/src/apollo/client/graphql/calculatedField.ts
  wren-ui/src/apollo/client/graphql/diagram.generated.ts
  wren-ui/src/apollo/client/graphql/diagram.ts
  wren-ui/src/apollo/server/resolvers/projectResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/components/diagram/customNode/ModelNode.tsx
  wren-ui/src/components/modals/CalculatedFieldModal.tsx
  wren-ui/src/components/selectors/lineageSelector/FieldSelect.tsx
  wren-ui/src/components/selectors/lineageSelector/index.tsx
  wren-ui/src/hooks/useExpressionFieldOptions.tsx
  wren-ui/src/pages/modeling.tsx
  wren-ui/src/utils/data/dictionary.ts
  wren-ui/src/utils/data/type/modeling.ts
  wren-ui/src/utils/error/dictionary.ts
  wren-ui/src/utils/errorHandler.tsx
  wren-ui/src/utils/expressionType.ts
  wren-ui/src/utils/modelingHelper.ts
  wren-ui/src/utils/validator/calculatedFieldValidator.ts
  wren-ui/src/utils/validator/index.ts
  wren-ui/src/utils/validator/lineageSelectorValidator.ts
Labels: module/ui, ci/ui

#196 feat(wren-ui): Integrate UI and CRUD API for relationship
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/diagram.generated.ts
  wren-ui/src/apollo/client/graphql/diagram.ts
  wren-ui/src/apollo/client/graphql/relationship.generated.ts
  wren-ui/src/apollo/client/graphql/relationship.ts
  wren-ui/src/apollo/server/resolvers/diagramResolver.ts
  wren-ui/src/apollo/server/resolvers/modelResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/types/diagram.ts
  wren-ui/src/components/modals/RelationModal.tsx
  wren-ui/src/hooks/useCombineFieldOptions.tsx
  wren-ui/src/hooks/useRelationshipModal.tsx
  wren-ui/src/pages/modeling.tsx
  wren-ui/src/utils/errorHandler.tsx
Labels: module/ui, ci/ui

#197 fix(wren-ui): Fix diagram node height calculation
  wren-ui/src/components/diagram/customNode/Column.tsx
  wren-ui/src/utils/diagram/transformer.ts
Labels: module/ui, ci/ui

#198 chore(wren-ui): add primary key doc link
  wren-ui/src/components/modals/CalculatedFieldModal.tsx
Labels: module/ui

#199 Fix(wren-ai-service): Clear all documents before deploying the new MDL
  wren-ai-service/src/pipelines/ask/indexing_pipeline.py
  wren-ai-service/tests/pipelines/test_ask.py
Labels: module/ai-service

#194 Chore/ai service/update demosite
  .gitignore
  wren-ai-service/README.md
  wren-ai-service/demo/.env.example
  wren-ai-service/demo/app.py
  wren-ai-service/demo/pyproject.toml
  wren-ai-service/demo/sample_dataset/college_3_bigquery_mdl.json
  wren-ai-service/demo/sample_dataset/pagila.sql
  wren-ai-service/demo/sample_dataset/pagila_postgres_mdl.json
  wren-ai-service/demo/utils.py
Labels: module/ai-service, ci/ai-service

#203 Fix(wren-ui): allow sending a empty relation data list
  wren-ui/src/apollo/server/services/modelService.ts
Labels: ci/ui

#205 fix(wren-ui): Fix svg embed definitions styles that affected user operation
  wren-ui/src/components/diagram/Marker.tsx
Labels: module/ui

#210 add logger using info level and fix indexing status
  wren-ai-service/src/pipelines/ask/followup_generation_pipeline.py
  wren-ai-service/src/pipelines/ask/generation_pipeline.py
  wren-ai-service/src/pipelines/ask/indexing_pipeline.py
  wren-ai-service/src/pipelines/ask/query_understanding_pipeline.py
  wren-ai-service/src/pipelines/ask/retrieval_pipeline.py
  wren-ai-service/src/pipelines/ask/sql_correction_pipeline.py
  wren-ai-service/src/pipelines/ask_details/generation_pipeline.py
  wren-ai-service/src/web/v1/services/ask.py
Labels: module/ai-service, ci/ai-service

#211 api refactor and add healthcheck api
  wren-ai-service/src/__main__.py
  wren-ai-service/src/web/v1/routers.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/src/web/v1/services/ask_details.py
Labels: module/ai-service, ci/ai-service

#215 fix(wren-ui): in pg connector, we return column types in enum
  wren-ui/src/apollo/server/connectors/postgresConnector.ts
  wren-ui/src/apollo/server/connectors/types.ts
  wren-ui/src/apollo/server/tests/connector.test.ts
Labels: ci/ui

#218 feature(wren-ai-service): Indexing saved view into document store
  wren-ai-service/src/eval/ask/__main__.py
  wren-ai-service/src/eval/ask/eval_sampledata.py
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/ask/indexing_pipeline.py
  wren-ai-service/tests/data/book_2_mdl.json
  wren-ai-service/tests/pipelines/test_ask.py
  wren-ai-service/tests/pipelines/test_document_cleaner.py
  wren-ai-service/tests/services/test_ask.py
Labels: module/ai-service

#219 chore(wren-ui): Downgrade columns limit to 10 in diagram
  wren-ui/src/utils/diagram/transformer.ts
Labels: module/ui

#214 feat(wren-ui): allow column case insensitive search for column selector
  wren-ui/src/components/pages/modeling/form/ModelForm.tsx
Labels: module/ui, ci/ui

#213 fix(wren-ui): handle network error issues for asking a question
  wren-ui/src/apollo/server/adaptors/wrenAIAdaptor.ts
  wren-ui/src/apollo/server/utils/error.ts
  wren-ui/src/utils/errorHandler.tsx
Labels: module/ui, ci/ui

#233 chore(wren-ui): Remove share button on Modeling
  wren-ui/src/components/HeaderBar.tsx
Labels: module/ui

#227 feature(wren-ai-service): mdl metric integration
  wren-ai-service/demo/sample_dataset/ecommerce_duckdb_mdl.json
  wren-ai-service/src/eval/ask/__main__.py
  wren-ai-service/src/eval/ask/prepare_optimal_ddl.py
  wren-ai-service/src/pipelines/ask/components/prompts.py
  wren-ai-service/src/pipelines/ask/indexing_pipeline.py
  wren-ai-service/src/utils.py
  wren-ai-service/tests/pipelines/test_ask.py
Labels: module/ai-service, ci/ai-service

#237 add logger.error messages
  wren-ai-service/src/pipelines/ask/indexing_pipeline.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/src/web/v1/services/ask_details.py
Labels: module/ai-service, ci/ai-service

#238 fix indexing
  wren-ai-service/src/pipelines/ask/indexing_pipeline.py
Labels: module/ai-service, ci/ai-service

#222 feat(wren-ui): Backend API provide error message from wren engine
  wren-ui/src/apollo/server/services/modelService.ts
  wren-ui/src/apollo/server/utils/error.ts
  wren-ui/src/components/ErrorCollapse.tsx
  wren-ui/src/components/modals/CalculatedFieldModal.tsx
  wren-ui/src/components/pages/home/prompt/Result.tsx
  wren-ui/src/pages/modeling.tsx
  wren-ui/src/utils/errorHandler.tsx
Labels: module/ui, ci/ui

#230 chore(wren-ui): Replace view, calculated field & relationship name to alias
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/diagram.generated.ts
  wren-ui/src/apollo/client/graphql/diagram.ts
  wren-ui/src/apollo/server/repositories/relationshipRepository.ts
  wren-ui/src/apollo/server/resolvers/diagramResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/types/diagram.ts
  wren-ui/src/components/modals/RelationModal.tsx
  wren-ui/src/components/pages/modeling/MetadataDrawer.tsx
  wren-ui/src/components/pages/modeling/metadata/EditModelMetadata.tsx
  wren-ui/src/components/pages/modeling/metadata/ViewMetadata.tsx
  wren-ui/src/components/selectors/CombineFieldSelector.tsx
  wren-ui/src/components/table/BaseTable.tsx
  wren-ui/src/components/table/CalculatedFieldTable.tsx
  wren-ui/src/components/table/FieldTable.tsx
  wren-ui/src/components/table/RelationTable.tsx
  wren-ui/src/hooks/useCombineFieldOptions.tsx
  wren-ui/src/utils/data/type/modeling.ts
  wren-ui/src/utils/modelingHelper.ts
Labels: module/ui

#239 Chore/ai service/fix indexing
  wren-ai-service/src/pipelines/ask/indexing_pipeline.py
Labels: module/ai-service, ci/ai-service

#240 fix indexing
  wren-ai-service/src/pipelines/ask/indexing_pipeline.py
Labels: module/ai-service, ci/ai-service

#224 feat(wren-ui): Support edit view metadata mode
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/diagram.generated.ts
  wren-ui/src/apollo/client/graphql/diagram.ts
  wren-ui/src/apollo/client/graphql/metadata.generated.ts
  wren-ui/src/apollo/client/graphql/metadata.ts
  wren-ui/src/apollo/server/adaptors/wrenAIAdaptor.ts
  wren-ui/src/apollo/server/models/model.ts
  wren-ui/src/apollo/server/resolvers.ts
  wren-ui/src/apollo/server/resolvers/diagramResolver.ts
  wren-ui/src/apollo/server/resolvers/modelResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/types/diagram.ts
  wren-ui/src/components/EditableWrapper.tsx
  wren-ui/src/components/modals/SaveAsViewModal.tsx
  wren-ui/src/components/pages/modeling/EditMetadataModal.tsx
  wren-ui/src/components/pages/modeling/MetadataDrawer.tsx
  wren-ui/src/components/pages/modeling/metadata/EditBasicMetadata.tsx
  wren-ui/src/components/pages/modeling/metadata/EditModelMetadata.tsx
  wren-ui/src/components/pages/modeling/metadata/EditViewMetadata.tsx
  wren-ui/src/components/pages/modeling/metadata/ViewMetadata.tsx
  wren-ui/src/pages/modeling.tsx
  wren-ui/src/utils/errorHandler.tsx
  wren-ui/src/utils/validator/index.ts
  wren-ui/src/utils/validator/viewValidator.ts
Labels: module/ui, ci/ui

#242 fix indexing
  wren-ai-service/src/pipelines/ask/indexing_pipeline.py
Labels: module/ai-service, ci/ai-service

#244 allow users to change openai model in launcher
  .github/workflows/ai-service-ci.yaml
  .gitignore
  docker/.env.example
  docker/docker-compose-dev.yaml
  docker/docker-compose.yaml
  wren-ai-service/.env.dev.example
  wren-ai-service/.env.prod.example
  wren-ai-service/src/providers/llm/openai.py
  wren-ai-service/src/utils.py
  wren-ai-service/tests/pipelines/test_ask.py
  wren-launcher/commands/launch.go
  wren-launcher/utils/docker.go
Labels: module/ai-service, ci/ai-service

#243 feat(wren-ai-service): MDL validator to check the items exist
  wren-ai-service/src/eval/ask/__main__.py
  wren-ai-service/src/eval/ask/eval_sampledata.py
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/ask/indexing_pipeline.py
  wren-ai-service/tests/pipelines/test_ask.py
  wren-ai-service/tests/services/test_ask.py
Labels: module/ai-service

#247 fix bugs
  wren-ai-service/src/pipelines/ask/components/prompts.py
  wren-ai-service/src/pipelines/ask/indexing_pipeline.py
  wren-ai-service/tests/pipelines/test_ask.py
Labels: module/ai-service, ci/ai-service

#248 fix indexing bug
  wren-ai-service/src/pipelines/ask/indexing_pipeline.py
Labels: module/ai-service, ci/ai-service

#246 fix(wren-ui): Fix Posthog related env in client
  wren-ui/src/pages/_app.tsx
  wren-ui/src/pages/api/config.ts
  wren-ui/src/utils/env.ts
Labels: module/ui, ci/ui

#250 chore(wren-ui): Tracking page view when router change
  wren-ui/src/pages/_app.tsx
  wren-ui/src/utils/env.ts
Labels: module/ui

#252 feat(wren-ui): Add version number in settings page & Github link
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/settings.generated.ts
  wren-ui/src/apollo/client/graphql/settings.ts
  wren-ui/src/apollo/server/config.ts
  wren-ui/src/apollo/server/resolvers/projectResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/components/settings/index.tsx
  wren-ui/src/components/sidebar/index.tsx
  wren-ui/src/utils/icons.ts
Labels: module/ui, ci/ui

#253 update README
  wren-ai-service/README.md
Labels: module/ai-service, ci/ai-service

#254 Chore(wren-ui): record openai generation model used by user
  docker/docker-compose.yaml
  wren-launcher/utils/docker.go
  wren-ui/src/apollo/server/config.ts
  wren-ui/src/apollo/server/telemetry/telemetry.ts
Labels: module/ui, ci/ui

#255 feat(wren-ui): Support SSL property to Postgres connector
  wren-ui/src/apollo/server/connectors/postgresConnector.ts
  wren-ui/src/apollo/server/factories/postgresStrategy.ts
  wren-ui/src/apollo/server/repositories/projectRepository.ts
  wren-ui/src/apollo/server/resolvers/projectResolver.ts
  wren-ui/src/apollo/server/types/dataSource.ts
  wren-ui/src/components/pages/setup/dataSources/PostgreSQLProperties.tsx
  wren-ui/src/components/settings/DataSourceSettings.tsx
  wren-ui/src/hooks/useSetupConnection.tsx
Labels: module/ui, ci/ui

#260 chore(wren-ui): Replace model preview data column name to alias
  wren-ui/src/components/pages/modeling/metadata/ModelMetadata.tsx
Labels: module/ui, ci/ui

#257 feature(wren-ai-service): support to return a saved view as a Candidate
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/ask/components/prompts.py
  wren-ai-service/src/pipelines/ask/generation_pipeline.py
  wren-ai-service/src/pipelines/ask/historical_question.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/tests/pipelines/test_ask.py
  wren-ai-service/tests/services/test_ask.py
Labels: module/ai-service

#258 feat(wren-ui): Convert column original name by following the reference name rule
  wren-ui/src/apollo/server/factories/bqStrategy.ts
  wren-ui/src/apollo/server/factories/duckdbStrategy.ts
  wren-ui/src/apollo/server/factories/postgresStrategy.ts
  wren-ui/src/apollo/server/factories/util.ts
  wren-ui/src/apollo/server/mdl/mdlBuilder.ts
Labels: module/ui, ci/ui

#263 fix(wren-ui): fix auto-generated relationships
  wren-ui/src/apollo/server/factories/bqStrategy.ts
  wren-ui/src/apollo/server/factories/postgresStrategy.ts
  wren-ui/src/apollo/server/services/modelService.ts
  wren-ui/src/components/pages/setup/DefineRelations.tsx
Labels: module/ui, ci/ui

#266 chore(wren-ui): Remove unused test data
  wren-ui/src/testData/index.ts
  wren-ui/src/testData/more_mdl_model.json
  wren-ui/src/testData/tpch_mdl.json
  wren-ui/src/testData/tpch_mdl_from_core.json
  wren-ui/src/testData/tpch_mdl_relationToModel.json
Labels: module/ui

#264 chore(wren-ui): Show AI exception errors to client when deploying manifest
  wren-ui/src/apollo/server/adaptors/wrenAIAdaptor.ts
  wren-ui/src/components/deploy/Deploy.tsx
Labels: module/ui, ci/ui

#267 feature(wren-ai-service): Automatically loading the providers
  .github/workflows/ai-service-ci.yaml
  wren-ai-service/.env.dev.example
  wren-ai-service/.env.prod.example
  wren-ai-service/src/core/llm_provider.py
  wren-ai-service/src/core/provider.py
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/ask/historical_question.py
  wren-ai-service/src/pipelines/ask/indexing_pipeline.py
  wren-ai-service/src/providers/__init__.py
  wren-ai-service/src/providers/document_store/__init__.py
  wren-ai-service/src/providers/document_store/qdrant.py
  wren-ai-service/src/providers/llm/__init__.py
  wren-ai-service/src/providers/llm/openai.py
  wren-ai-service/src/providers/loader.py
  wren-ai-service/src/utils.py
  wren-ai-service/tests/pipelines/test_ask.py
  wren-ai-service/tests/providers/test_loader.py
Labels: module/ai-service

#265 Chore/ai service/minor update
  .github/workflows/ai-service-ci.yaml
  .github/workflows/ai-service-release-stable-image.yaml
  wren-ai-service/README.md
  wren-ai-service/demo/app.py
  wren-ai-service/demo/pyproject.toml
  wren-ai-service/demo/utils.py
  wren-ai-service/docker/Dockerfile
  wren-ai-service/pyproject.toml
  wren-ai-service/src/eval/ask/__main__.py
  wren-ai-service/src/eval/ask/eval_sampledata.py
  wren-ai-service/src/eval/ask/streamlit_app.py
  wren-ai-service/src/eval/ask/utils.py
  wren-ai-service/src/eval/ask_details/utils.py
  wren-ai-service/src/pipelines/ask/components/post_processors.py
  wren-ai-service/src/pipelines/ask/indexing_pipeline.py
  wren-ai-service/src/pipelines/ask_details/components/post_processors.py
  wren-ai-service/src/pipelines/semantics/description.py
  wren-ai-service/src/web/v1/services/semantics.py
  wren-ai-service/tests/pipelines/test_ask.py
  wren-ai-service/tests/services/test_ask.py
  wren-ai-service/tests/test_main.py
Labels: module/ai-service

#274 fix(wren-ui/api): fix update model metadata
  wren-ui/src/apollo/server/resolvers/modelResolver.ts
Labels: module/ui, ci/ui

#268 feat(wren-ui): Update relationship rule
  wren-ui/src/apollo/server/repositories/relationshipRepository.ts
  wren-ui/src/apollo/server/services/modelService.ts
  wren-ui/src/components/modals/RelationModal.tsx
  wren-ui/src/components/selectors/CombineFieldSelector.tsx
  wren-ui/src/utils/error/dictionary.ts
  wren-ui/src/utils/validator/index.ts
  wren-ui/src/utils/validator/relationshipValidator.ts
Labels: module/ui, ci/ui

#275 feat(wren-ui): add loading props for preview data button
  wren-ui/src/hooks/useAnswerStepContent.tsx
Labels: module/ui, ci/ui

#278 chore/ai-service/fix-init-providers
  wren-ai-service/src/utils.py
Labels: module/ai-service

#287 fix(wren-ui/api): fix update model metadata API
  wren-ui/src/apollo/server/resolvers/modelResolver.ts
Labels: module/ui, ci/ui

#288 fix(wren-ui): Exclude self-referential relationship in auto-generated relationship
  wren-ui/src/apollo/server/resolvers/projectResolver.ts
  wren-ui/src/components/diagram/customNode/ModelNode.tsx
  wren-ui/src/utils/diagram/transformer.ts
Labels: module/ui, ci/ui

#276 feat(wren-ui): Infrastructure of Playwright end-to-end testing
  .gitignore
  wren-ui/.env.test
  wren-ui/e2e/README.md
  wren-ui/e2e/commonTests/onboarding.ts
  wren-ui/e2e/config.ts
  wren-ui/e2e/global.setup.ts
  wren-ui/e2e/global.teardown.ts
  wren-ui/e2e/helper.ts
  wren-ui/e2e/specs/connectBigQuery.spec.ts
  wren-ui/e2e/specs/connectDuckDB.spec.ts
  wren-ui/e2e/specs/connectPostgreSQL.spec.ts
  wren-ui/e2e/specs/connectSampleECommerce.spec.ts
  wren-ui/e2e/specs/connectSampleNBA.spec.ts
  wren-ui/jest.config.js
  wren-ui/knexfile.js
  wren-ui/package.json
  wren-ui/playwright.config.ts
  wren-ui/yarn.lock
Labels: module/ui, ci/ui

#299 refine readme
  wren-ai-service/README.md
Labels: module/ai-service

#292 chore(wren-ui): Enhance data source connection error & instructions
  wren-ui/src/apollo/server/connectors/bqConnector.ts
  wren-ui/src/apollo/server/connectors/duckdbConnector.ts
  wren-ui/src/apollo/server/connectors/postgresConnector.ts
  wren-ui/src/apollo/server/factories/postgresStrategy.ts
  wren-ui/src/apollo/server/utils/error.ts
  wren-ui/src/components/pages/setup/ConnectDataSource.tsx
  wren-ui/src/components/pages/setup/utils.tsx
  wren-ui/src/components/settings/DataSourceSettings.tsx
  wren-ui/src/hooks/useSetupConnection.tsx
  wren-ui/src/pages/setup/connection.tsx
  wren-ui/src/utils/errorHandler.tsx
Labels: module/ui, ci/ui

#298 Feature(wren-ai-service): pipeline timer
  wren-ai-service/README.md
  wren-ai-service/src/pipelines/ask/followup_generation_pipeline.py
  wren-ai-service/src/pipelines/ask/generation_pipeline.py
  wren-ai-service/src/pipelines/ask/historical_question.py
  wren-ai-service/src/pipelines/ask/indexing_pipeline.py
  wren-ai-service/src/pipelines/ask/query_understanding_pipeline.py
  wren-ai-service/src/pipelines/ask/retrieval_pipeline.py
  wren-ai-service/src/pipelines/ask/sql_correction_pipeline.py
  wren-ai-service/src/utils.py
  wren-ai-service/src/web/v1/services/ask.py
Labels: module/ai-service

#302 fix(wren-ui): Setup rejectUnauthorized for ssl connection & add sslmode to jdbc url
  wren-ui/src/apollo/server/connectors/postgresConnector.ts
  wren-ui/src/apollo/server/factories/postgresStrategy.ts
Labels: module/ui, ci/ui

#309 make pipelines cleaner
  wren-ai-service/src/eval/ask/__main__.py
  wren-ai-service/src/eval/ask_details/__main__.py
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/ask/components/post_processors.py
  wren-ai-service/src/pipelines/ask/components/prompts.py
  wren-ai-service/src/pipelines/ask/followup_generation_pipeline.py
  wren-ai-service/src/pipelines/ask/generation_pipeline.py
  wren-ai-service/src/pipelines/ask/indexing_pipeline.py
  wren-ai-service/src/pipelines/ask/query_understanding_pipeline.py
  wren-ai-service/src/pipelines/ask/retrieval_pipeline.py
  wren-ai-service/src/pipelines/ask/sql_correction_pipeline.py
  wren-ai-service/src/pipelines/ask_details/components/post_processors.py
  wren-ai-service/src/pipelines/ask_details/components/prompts.py
  wren-ai-service/src/pipelines/ask_details/generation_pipeline.py
  wren-ai-service/src/pipelines/semantics/description.py
  wren-ai-service/src/utils.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/src/web/v1/services/ask_details.py
  wren-ai-service/tests/pipelines/test_ask.py
  wren-ai-service/tests/pipelines/test_ask_details.py
  wren-ai-service/tests/services/test_ask.py
  wren-ai-service/tests/services/test_ask_details.py
  wren-ai-service/tests/services/test_semantics.py
Labels: module/ai-service

#307 feat(wren-ui): Offer view result for similar questions
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/home.generated.ts
  wren-ui/src/apollo/client/graphql/home.ts
  wren-ui/src/components/EllipsisWrapper.tsx
  wren-ui/src/components/pages/home/prompt/Result.tsx
  wren-ui/src/components/pages/home/prompt/index.tsx
  wren-ui/src/components/pages/home/promptThread/AnswerResult.tsx
  wren-ui/src/components/pages/home/promptThread/index.tsx
  wren-ui/src/pages/modeling.tsx
Labels: module/ui, ci/ui

#310 refine ai pipelines
  wren-ai-service/demo/sample_dataset/ecommerce2_duckdb_mdl.json
  wren-ai-service/demo/sample_dataset/ecommerce_duckdb_mdl.json
  wren-ai-service/demo/utils.py
  wren-ai-service/src/pipelines/ask/followup_generation_pipeline.py
Labels: module/ai-service

#332 fix python version to 3.12.0
  wren-ai-service/docker/Dockerfile
Labels: module/ai-service

#328 Fix(wren-ui): use postgres as database
  wren-ui/README.md
  wren-ui/migrations/20240524044348_update_project_table.js
  wren-ui/migrations/20240524071859_update_thread_table.js
  wren-ui/src/apollo/server/config.ts
  wren-ui/src/apollo/server/repositories/projectRepository.ts
  wren-ui/src/apollo/server/repositories/threadResponseRepository.ts
Labels: ci/ui

#340 use dry-run instead of preview
  wren-ai-service/src/utils.py
Labels: module/ai-service
