Repository Canner/WrenAI, pull requests merged in 2024-07, with the labels that each got.

#465 fix(wren-ui): Issues Encountered with Antd after Upgrading NextJS from 13 to 14
  .github/workflows/ui-lint.yaml
  .github/workflows/ui-test.yaml
  wren-ui/Dockerfile
  wren-ui/README.md
  wren-ui/next.config.js
  wren-ui/package.json
  wren-ui/yarn.lock
Labels: module/ui, ci/ui

#463 remove query understanding
  wren-ai-service/Makefile
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/ask/query_understanding.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/tests/pytest/pipelines/test_ask.py
  wren-ai-service/tests/pytest/services/test_ask.py
  wren-ai-service/tests/pytest/test_main.py
Labels: module/ai-service

#454 separate llm and embedder
  .github/workflows/ai-service-ci.yaml
  docker/.env.ai.example
  docker/.env.example
  docker/docker-compose-dev.yaml
  docker/docker-compose.yaml
  wren-ai-service/.env.dev.example
  wren-ai-service/.env.example
  wren-ai-service/.env.prod.example
  wren-ai-service/Makefile
  wren-ai-service/README.md
  wren-ai-service/docker/docker-compose.yaml
  wren-ai-service/src/core/provider.py
  wren-ai-service/src/eval/ask/__main__.py
  wren-ai-service/src/eval/ask/eval_sampledata.py
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/ask/followup_generation.py
  wren-ai-service/src/pipelines/ask/generation.py
  wren-ai-service/src/pipelines/ask/historical_question.py
  wren-ai-service/src/pipelines/ask/retrieval.py
  wren-ai-service/src/pipelines/ask/sql_correction.py
  wren-ai-service/src/pipelines/ask_details/generation.py
  wren-ai-service/src/pipelines/indexing/indexing.py
  wren-ai-service/src/pipelines/semantics/description.py
  wren-ai-service/src/providers/document_store/qdrant.py
  wren-ai-service/src/providers/embedder/__init__.py
  wren-ai-service/src/providers/embedder/azure_openai.py
  wren-ai-service/src/providers/embedder/ollama.py
  wren-ai-service/src/providers/embedder/openai.py
  wren-ai-service/src/providers/engine/wren.py
  wren-ai-service/src/providers/llm/azure_openai.py
  wren-ai-service/src/providers/llm/ollama.py
  wren-ai-service/src/providers/llm/openai.py
  wren-ai-service/src/providers/loader.py
  wren-ai-service/src/utils.py
  wren-ai-service/tests/pytest/pipelines/test_ask.py
  wren-ai-service/tests/pytest/pipelines/test_ask_details.py
  wren-ai-service/tests/pytest/pipelines/test_document_cleaner.py
  wren-ai-service/tests/pytest/providers/test_loader.py
  wren-ai-service/tests/pytest/services/test_ask.py
  wren-ai-service/tests/pytest/services/test_ask_details.py
  wren-ai-service/tests/pytest/services/test_semantics.py
  wren-launcher/utils/docker.go
Labels: module/ai-service

#479 fix(wren-ui): Add quote to SQL in preview model data API
  wren-ui/src/apollo/server/resolvers/modelResolver.ts
  wren-ui/src/apollo/server/resolvers/projectResolver.ts
Labels: module/ui, ci/ui

#480 add quotes for the fallback option when sql breakdown fails
  wren-ai-service/src/web/v1/services/ask_details.py
  wren-ai-service/tests/pytest/services/test_ask_details.py
Labels: module/ai-service

#486 refine wren-ai-service logging and setups
  .gitignore
  wren-ai-service/.env.example
  wren-ai-service/Makefile
  wren-ai-service/README.md
  wren-ai-service/src/providers/document_store/qdrant.py
  wren-ai-service/src/providers/embedder/azure_openai.py
  wren-ai-service/src/providers/embedder/ollama.py
  wren-ai-service/src/providers/llm/azure_openai.py
  wren-ai-service/src/providers/llm/ollama.py
  wren-ai-service/src/providers/llm/openai.py
  wren-ai-service/src/utils.py
  wren-ai-service/tools/dev/.env.example
  wren-ai-service/tools/dev/config.properties.example
  wren-ai-service/tools/dev/docker-compose-dev.yaml
  wren-ai-service/tools/dev/launch-cli.sh
Labels: module/ai-service

#489 feat(wren-ui): Add References UI
  wren-ui/package.json
  wren-ui/src/components/pages/home/promptThread/AnswerResult.tsx
  wren-ui/src/components/pages/home/thread/AnswerResult.tsx
  wren-ui/src/components/pages/home/thread/CollapseContent.tsx
  wren-ui/src/components/pages/home/thread/StepContent.tsx
  wren-ui/src/components/pages/home/thread/feedback/ReferenceSideFloat.tsx
  wren-ui/src/components/pages/home/thread/feedback/index.tsx
  wren-ui/src/components/pages/home/thread/feedback/utils.tsx
  wren-ui/src/components/pages/home/thread/index.tsx
  wren-ui/src/pages/home/[id].tsx
  wren-ui/src/styles/components/tag.less
  wren-ui/src/styles/utilities/text.less
  wren-ui/src/utils/icons.ts
  wren-ui/yarn.lock
Labels: module/ui, ci/ui

#493 minor update for ai-service
  wren-ai-service/src/force_deploy.py
  wren-ai-service/src/providers/embedder/azure_openai.py
  wren-ai-service/src/providers/embedder/ollama.py
  wren-ai-service/src/providers/embedder/openai.py
  wren-ai-service/src/providers/llm/azure_openai.py
  wren-ai-service/src/providers/llm/ollama.py
  wren-ai-service/src/providers/llm/openai.py
  wren-ai-service/src/utils.py
Labels: module/ai-service

#497 Chore/ai service/minor update
  wren-ai-service/src/providers/embedder/azure_openai.py
  wren-ai-service/src/utils.py
Labels: module/ai-service

#500 fix trigger method for `foce_deploy.py`
  wren-ai-service/entrypoint.sh
Labels: module/ai-service

#501 fix dry run endpoint when in `wren_ibis` mode
  wren-ai-service/src/providers/engine/wren.py
Labels: module/ai-service

#503 Fix(wren-ui): fix unit test and add some test cases for ibis adapter
  wren-ui/src/apollo/server/adaptors/tests/ibisAdaptor.test.ts
  wren-ui/src/apollo/server/services/modelService.ts
  wren-ui/src/apollo/server/utils/helper.ts
  wren-ui/src/apollo/server/utils/index.ts
  wren-ui/src/utils/helper.ts
Labels: ci/ui

#498 feat(wren-ui): Add Pending Feedbacks UI
  wren-ui/src/components/pages/home/thread/feedback/FeedbackSideFloat.tsx
  wren-ui/src/components/pages/home/thread/feedback/ReferenceSideFloat.tsx
  wren-ui/src/components/pages/home/thread/feedback/ReviewDrawer.tsx
  wren-ui/src/components/pages/home/thread/feedback/index.tsx
  wren-ui/src/components/pages/home/thread/index.tsx
  wren-ui/src/styles/utilities/spacing.less
  wren-ui/src/styles/utilities/text.less
Labels: module/ui, ci/ui

#515 update ai-service readme for easier contributing from communities
  wren-ai-service/README.md
Labels: module/ai-service

#512 pull ollama models if not exist automatically
  wren-ai-service/.env.dev.example
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
  wren-ai-service/src/__main__.py
  wren-ai-service/src/providers/embedder/ollama.py
  wren-ai-service/src/providers/engine/wren.py
  wren-ai-service/src/providers/llm/ollama.py
  wren-ai-service/src/providers/loader.py
  wren-launcher/commands/launch.go
Labels: module/ai-service

#517 fix(wren-ai-service): modify the env ibis service in the dev env example
  wren-ai-service/.env.dev.example
Labels: ci/ai-service

#398 feat(wren-ai-service): evaluation dataset curation app
  wren-ai-service/.env.dev.example
  wren-ai-service/Makefile
  wren-ai-service/README.md
  wren-ai-service/demo/.env.example
  wren-ai-service/demo/app.py
  wren-ai-service/demo/pyproject.toml
  wren-ai-service/demo/utils.py
  wren-ai-service/docker/Dockerfile
  wren-ai-service/eval/.gitignore
  wren-ai-service/eval/data_curation/.env.example
  wren-ai-service/eval/data_curation/__init__.py
  wren-ai-service/eval/data_curation/app.py
  wren-ai-service/eval/data_curation/utils.py
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
  wren-ai-service/src/core/engine.py
  wren-ai-service/src/force_deploy.py
  wren-ai-service/src/pipelines/ask/followup_generation.py
  wren-ai-service/src/pipelines/ask/generation.py
  wren-ai-service/src/pipelines/ask/historical_question.py
  wren-ai-service/src/pipelines/ask/retrieval.py
  wren-ai-service/src/pipelines/ask/sql_correction.py
  wren-ai-service/src/pipelines/ask_details/generation.py
  wren-ai-service/src/pipelines/indexing/indexing.py
  wren-ai-service/src/prepare_mdl_json.py
  wren-ai-service/src/providers/engine/wren.py
  wren-ai-service/tests/pytest/providers/test_loader.py
  wren-ai-service/tools/dev/docker-compose-dev.yaml
Labels: module/ai-service

#536 chore(wren-ai-service): eval refactor for common functions
  wren-ai-service/eval/.env.example
  wren-ai-service/eval/__init__.py
  wren-ai-service/eval/data_curation/app.py
  wren-ai-service/eval/data_curation/utils.py
  wren-ai-service/eval/utils.py
Labels: module/ai-service, ci/ai-service

#514 Chore/update kustomizations based on new version of wren-ai-service
  deployment/kustomizations/README.md
  deployment/kustomizations/base/cm.yaml
  deployment/kustomizations/base/deploy-wren-ai-service.yaml
  deployment/kustomizations/base/deploy-wren-ui.yaml
  deployment/kustomizations/examples/secret-wren_example.yaml
  deployment/kustomizations/helm-values_postgresql_15.yaml
  deployment/kustomizations/kustomization.yaml
  deployment/kustomizations/patches/cm.yaml
Labels: module/ai-service

#541 feat(wren-ai-service): add gpt-4o-mini
  .github/workflows/ai-service-test.yaml
  deployment/kustomizations/base/cm.yaml
  docker/.env.ai.example
  docker/.env.example
  docker/docker-compose-dev.yaml
  docker/docker-compose.yaml
  wren-ai-service/.env.dev.example
  wren-ai-service/eval/data_curation/app.py
  wren-ai-service/src/pipelines/ask_details/generation.py
  wren-ai-service/src/providers/llm/openai.py
  wren-launcher/commands/launch.go
Labels: module/ai-service, ci/ai-service

#525 feat(wren-ai-service): Implement the process for the evaluation framework
  .gitignore
  wren-ai-service/Justfile
  wren-ai-service/eval/README.md
  wren-ai-service/eval/dataset/eval_dataset_2024_07_10.toml
  wren-ai-service/eval/evaluation.py
  wren-ai-service/eval/metrics/__init__.py
  wren-ai-service/eval/metrics/example.py
  wren-ai-service/eval/prediction.py
  wren-ai-service/eval/utils.py
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
  wren-ai-service/src/providers/engine/wren.py
  wren-ai-service/src/utils.py
Labels: ci/ai-service

#527 feat(wren-ui): Create Regenerated Response API & Add Regenerated Information in Thread Detail UI
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/home.generated.ts
  wren-ui/src/apollo/client/graphql/home.ts
  wren-ui/src/apollo/server/adaptors/wrenAIAdaptor.ts
  wren-ui/src/apollo/server/backgroundTrackers/threadResponseBackgroundTracker.ts
  wren-ui/src/apollo/server/repositories/threadResponseRepository.ts
  wren-ui/src/apollo/server/resolvers.ts
  wren-ui/src/apollo/server/resolvers/askingResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/services/askingService.ts
  wren-ui/src/components/pages/home/thread/AnswerResult.tsx
  wren-ui/src/components/pages/home/thread/feedback/FeedbackSideFloat.tsx
  wren-ui/src/components/pages/home/thread/feedback/ReferenceSideFloat.tsx
  wren-ui/src/components/pages/home/thread/feedback/ReviewDrawer.tsx
  wren-ui/src/components/pages/home/thread/feedback/index.tsx
  wren-ui/src/components/pages/home/thread/feedback/utils.tsx
  wren-ui/src/components/pages/home/thread/index.tsx
  wren-ui/src/pages/home/[id].tsx
  wren-ui/src/styles/utilities/display.less
  wren-ui/src/styles/utilities/text.less
  wren-ui/src/utils/errorHandler.tsx
Labels: module/ui, ci/ui

#547 feat(wren-ui): Modify step's preview data empty state wording
  wren-ui/src/components/dataPreview/PreviewData.tsx
  wren-ui/src/components/dataPreview/PreviewDataContent.tsx
  wren-ui/src/components/pages/home/promptThread/CollapseContent.tsx
Labels: module/ui, ci/ui

#548 feat(wren-ui): SQL Highlight References
  wren-ui/src/apollo/server/services/askingService.ts
  wren-ui/src/components/editor/CodeBlock.tsx
  wren-ui/src/components/pages/home/thread/CollapseContent.tsx
  wren-ui/src/components/pages/home/thread/StepContent.tsx
  wren-ui/src/components/pages/home/thread/feedback/ReferenceSideFloat.tsx
  wren-ui/src/components/pages/home/thread/feedback/SQLHighlight.tsx
  wren-ui/src/components/pages/home/thread/feedback/index.tsx
  wren-ui/src/components/pages/home/thread/index.tsx
Labels: module/ui, ci/ui

#261 feat(ai-service): feedback loop
  wren-ai-service/.env.dev.example
  wren-ai-service/demo/app.py
  wren-ai-service/demo/utils.py
  wren-ai-service/eval/prediction.py
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
  wren-ai-service/src/__main__.py
  wren-ai-service/src/core/engine.py
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/ask/followup_generation.py
  wren-ai-service/src/pipelines/ask/generation.py
  wren-ai-service/src/pipelines/ask/historical_question.py
  wren-ai-service/src/pipelines/ask/retrieval.py
  wren-ai-service/src/pipelines/ask/sql_correction.py
  wren-ai-service/src/pipelines/ask_details/generation.py
  wren-ai-service/src/pipelines/common.py
  wren-ai-service/src/pipelines/indexing/indexing.py
  wren-ai-service/src/pipelines/semantics/description.py
  wren-ai-service/src/pipelines/sql_explanation/__init__.py
  wren-ai-service/src/pipelines/sql_explanation/components/__init__.py
  wren-ai-service/src/pipelines/sql_explanation/components/prompts.py
  wren-ai-service/src/pipelines/sql_explanation/generation.py
  wren-ai-service/src/pipelines/sql_regeneration/__init__.py
  wren-ai-service/src/pipelines/sql_regeneration/components/__init__.py
  wren-ai-service/src/pipelines/sql_regeneration/components/prompts.py
  wren-ai-service/src/pipelines/sql_regeneration/generation.py
  wren-ai-service/src/providers/engine/wren.py
  wren-ai-service/src/utils.py
  wren-ai-service/src/web/v1/routers.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/src/web/v1/services/sql_explanation.py
  wren-ai-service/src/web/v1/services/sql_regeneration.py
  wren-ai-service/tests/pytest/pipelines/test_ask.py
  wren-ai-service/tests/pytest/pipelines/test_ask_details.py
  wren-ai-service/tests/pytest/pipelines/test_document_cleaner.py
  wren-ai-service/tests/pytest/services/test_ask.py
  wren-ai-service/tests/pytest/services/test_ask_details.py
  wren-ai-service/tests/pytest/services/test_semantics.py
  wren-ai-service/tests/pytest/test_main.py
  wren-ai-service/tools/dev/config.properties.example
Labels: module/ai-service, ci/ai-service

#549 chore(wren-ai-service): update indexing async components and update tests to async version
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
  wren-ai-service/src/pipelines/indexing/indexing.py
  wren-ai-service/src/providers/document_store/qdrant.py
  wren-ai-service/tests/pytest/pipelines/test_ask.py
  wren-ai-service/tests/pytest/pipelines/test_ask_details.py
  wren-ai-service/tests/pytest/pipelines/test_document_cleaner.py
  wren-ai-service/tests/pytest/services/test_ask.py
  wren-ai-service/tests/pytest/services/test_ask_details.py
Labels: module/ai-service, ci/ai-service

#551 fix(wren-ui): Fix select models duplicated keys issue
  wren-ui/src/components/table/MultiSelectBox.tsx
Labels: module/ui, ci/ui

#544 feat(wren-ai-service): Implement evaluation metrics
  wren-ai-service/README.md
  wren-ai-service/docs/shallow_trace_example.png
  wren-ai-service/eval/README.md
  wren-ai-service/eval/data_curation/utils.py
  wren-ai-service/eval/dataset/eval_dataset_2024_07_10.toml
  wren-ai-service/eval/evaluation.py
  wren-ai-service/eval/metrics/column.py
  wren-ai-service/eval/metrics/example.py
  wren-ai-service/eval/prediction.py
  wren-ai-service/eval/utils.py
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
  wren-ai-service/src/core/provider.py
  wren-ai-service/src/eval/ask/__init__.py
  wren-ai-service/src/eval/ask/__main__.py
  wren-ai-service/src/eval/ask/dataset.py
  wren-ai-service/src/eval/ask/eval_pipeline.py
  wren-ai-service/src/eval/ask/eval_sampledata.py
  wren-ai-service/src/eval/ask/sampledata_questions.json
  wren-ai-service/src/eval/ask/streamlit_app.py
  wren-ai-service/src/eval/ask/utils.py
  wren-ai-service/src/eval/ask_details/__init__.py
  wren-ai-service/src/eval/ask_details/__main__.py
  wren-ai-service/src/eval/ask_details/data/baseball_1_data.json
  wren-ai-service/src/eval/ask_details/data/baseball_1_eval_context.json
  wren-ai-service/src/eval/ask_details/streamlit_app.py
  wren-ai-service/src/eval/ask_details/utils.py
  wren-ai-service/src/eval/data/baseball_1_data.json
  wren-ai-service/src/eval/data/baseball_1_mdl.json
  wren-ai-service/src/eval/data/book_2_data.json
  wren-ai-service/src/eval/data/book_2_mdl.json
  wren-ai-service/src/eval/data/college_3_data.json
  wren-ai-service/src/eval/data/college_3_mdl.json
  wren-ai-service/src/eval/data/college_3_optimal_ddl.json
  wren-ai-service/src/eval/utils.py
  wren-ai-service/tests/pytest/eval/__init__.py
  wren-ai-service/tests/pytest/eval/test_column.py
Labels: ci/ai-service

#552 chore(wren-ai-service): add CONTRIBUTING guide
  wren-ai-service/CONTRIBUTING.md
  wren-ai-service/README.md
Labels: module/ai-service, ci/ai-service

#554 chore(wren-ai-service): small refactoring
  .github/workflows/ai-service-test.yaml
  wren-ai-service/Justfile
  wren-ai-service/Makefile
  wren-ai-service/README.md
  wren-ai-service/demo/app.py
  wren-ai-service/demo/utils.py
  wren-ai-service/eval/data_curation/app.py
  wren-ai-service/eval/data_curation/utils.py
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/semantics/__init__.py
  wren-ai-service/src/pipelines/semantics/description.py
  wren-ai-service/src/web/v1/routers.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/src/web/v1/services/indexing.py
  wren-ai-service/src/web/v1/services/semantics.py
  wren-ai-service/tests/locust/config_users.json
  wren-ai-service/tests/locust/locustfile.py
  wren-ai-service/tests/pytest/services/test_ask.py
  wren-ai-service/tests/pytest/services/test_semantics.py
  wren-ai-service/tests/pytest/test_main.py
Labels: module/ai-service, ci/ai-service

#561 fix(wren-ai-service): error handling for evaluation process
  wren-ai-service/eval/evaluation.py
  wren-ai-service/eval/metrics/column.py
Labels: module/ai-service, ci/ai-service

#556 Chore: adjust telemetry and logger
  wren-ui/src/apollo/server/adaptors/ibisAdaptor.ts
  wren-ui/src/apollo/server/adaptors/wrenEngineAdaptor.ts
  wren-ui/src/apollo/server/resolvers/askingResolver.ts
  wren-ui/src/apollo/server/resolvers/modelResolver.ts
  wren-ui/src/apollo/server/resolvers/projectResolver.ts
  wren-ui/src/apollo/server/services/askingService.ts
  wren-ui/src/apollo/server/services/deployService.ts
  wren-ui/src/apollo/server/services/tests/deployService.test.ts
  wren-ui/src/apollo/server/telemetry/telemetry.ts
  wren-ui/src/apollo/server/types/context.ts
  wren-ui/src/apollo/server/utils/error.ts
  wren-ui/src/pages/api/graphql.ts
Labels: ci/ui

#555 chore(wren-ui): remove unused code
  docker/.env.example
  docker/bootstrap/init.sh
  docker/docker-compose-dev.yaml
  docker/docker-compose.yaml
  wren-ai-service/tools/dev/.env.example
  wren-launcher/go.mod
  wren-launcher/go.sum
  wren-launcher/utils/docker.go
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/deploy.generated.ts
  wren-ui/src/apollo/client/graphql/deploy.ts
  wren-ui/src/apollo/server/config.ts
  wren-ui/src/apollo/server/resolvers.ts
  wren-ui/src/apollo/server/resolvers/connectionInfoResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/components/SharePopover.tsx
  wren-ui/src/styles/components/button.less
Labels: module/ui, go

#568 chore(wren-ai-service): fix entrypoint
  docker/docker-compose-dev.yaml
  docker/docker-compose.yaml
  wren-ai-service/entrypoint.sh
Labels: module/ai-service, ci/ai-service
