Repository Canner/WrenAI, pull requests merged in 2024-06, with the labels that each got.

#361 update readme
  wren-ai-service/README.md
  wren-ai-service/demo/pyproject.toml
  wren-ai-service/pyproject.toml
Labels: module/ai-service

#362 update sqlparse version
  .gitignore
  wren-ai-service/demo/pyproject.toml
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
Labels: module/ai-service

#335 Feature(wren-ai-service): Ask pipeline load test
  wren-ai-service/Makefile
  wren-ai-service/README.md
  wren-ai-service/docker/docker-compose.yml
  wren-ai-service/pyproject.toml
  wren-ai-service/src/eval/ask/__main__.py
  wren-ai-service/src/eval/ask_details/__main__.py
  wren-ai-service/src/locust_script.py
  wren-ai-service/tests/locust.conf
  wren-ai-service/tests/locust/config_users.json
  wren-ai-service/tests/locust/locust_script.py
  wren-ai-service/tests/locust/locustfile.py
  wren-ai-service/tests/locustfile.py
Labels: module/ai-service

#371 Chore(wren-ai-service): adjust locust test
  wren-ai-service/pyproject.toml
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/tests/locust/locust.conf
  wren-ai-service/tests/locust/locust_script.py
  wren-ai-service/tests/locust/locustfile.py
Labels: module/ai-service

#375 Fix(wren-ui): fix lint after upgrade axios
  wren-ui/src/apollo/server/adaptors/wrenEngineAdaptor.ts
Labels: ci/ui

#365 Support 3rd party openai api
  docker/.env.example
  docker/docker-compose.yaml
  wren-ai-service/docker/docker-compose.yml
  wren-ai-service/src/providers/llm/openai.py
Labels: module/ai-service, ci/ai-service

#377 Chore/ai service/minor updates
  docker/.env.example
  docker/docker-compose-dev.yaml
  docker/docker-compose.yaml
  wren-ai-service/.env.dev.example
  wren-ai-service/.env.prod.example
  wren-ai-service/docker/Dockerfile
  wren-ai-service/src/__main__.py
  wren-ai-service/src/engine.py
  wren-ai-service/src/pipelines/ask/components/post_processors.py
  wren-ai-service/src/pipelines/ask/followup_generation.py
  wren-ai-service/src/pipelines/ask/generation.py
  wren-ai-service/src/pipelines/ask/historical_question.py
  wren-ai-service/src/pipelines/ask/indexing.py
  wren-ai-service/src/pipelines/ask/query_understanding.py
  wren-ai-service/src/pipelines/ask/retrieval.py
  wren-ai-service/src/pipelines/ask/sql_correction.py
  wren-ai-service/src/pipelines/ask_details/generation.py
  wren-ai-service/src/pipelines/semantics/description.py
  wren-ai-service/src/providers/llm/openai.py
  wren-ai-service/src/utils.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/src/web/v1/services/ask_details.py
  wren-ai-service/tests/locust/__init__.py
  wren-ai-service/tests/locust/config_users.json
  wren-ai-service/tests/locust/locust.conf
  wren-ai-service/tests/locust/locustfile.py
  wren-ai-service/tests/pytest/__init__.py
  wren-ai-service/tests/pytest/pipelines/__init__.py
  wren-ai-service/tests/pytest/pipelines/test_ask.py
  wren-ai-service/tests/pytest/pipelines/test_ask_details.py
  wren-ai-service/tests/pytest/pipelines/test_document_cleaner.py
  wren-ai-service/tests/pytest/pipelines/test_view_converter.py
  wren-ai-service/tests/pytest/providers/__init__.py
  wren-ai-service/tests/pytest/providers/test_loader.py
  wren-ai-service/tests/pytest/services/__init__.py
  wren-ai-service/tests/pytest/services/test_ask.py
  wren-ai-service/tests/pytest/services/test_ask_details.py
  wren-ai-service/tests/pytest/services/test_semantics.py
  wren-ai-service/tests/pytest/test_main.py
Labels: module/ai-service

#346 feat(wren-ui/e2e): add E2E basic check
  wren-ui/e2e/commonTests/home.ts
  wren-ui/e2e/commonTests/modeling.ts
  wren-ui/e2e/commonTests/onboarding.ts
  wren-ui/e2e/specs/connectBigQuery.spec.ts
  wren-ui/e2e/specs/connectDuckDB.spec.ts
  wren-ui/e2e/specs/connectPostgreSQL.spec.ts
  wren-ui/e2e/specs/connectSampleECommerce.spec.ts
  wren-ui/e2e/specs/connectSampleNBA.spec.ts
  wren-ui/playwright.config.ts
  wren-ui/src/components/diagram/customNode/ModelNode.tsx
  wren-ui/src/components/diagram/customNode/ViewNode.tsx
  wren-ui/src/components/modals/RelationModal.tsx
  wren-ui/src/components/pages/home/prompt/Result.tsx
  wren-ui/src/components/pages/modeling/metadata/EditBasicMetadata.tsx
  wren-ui/src/components/pages/modeling/metadata/ModelMetadata.tsx
  wren-ui/src/components/pages/modeling/metadata/ViewMetadata.tsx
  wren-ui/src/components/selectors/CombineFieldSelector.tsx
  wren-ui/src/components/selectors/DescriptiveSelector.tsx
  wren-ui/src/components/selectors/Selector.tsx
  wren-ui/src/components/selectors/lineageSelector/FieldSelect.tsx
  wren-ui/src/components/selectors/lineageSelector/index.tsx
  wren-ui/src/hooks/useCombineFieldOptions.tsx
Labels: module/ui, E2E

#373 feat(wren-ui): Provide limit property in preview data API for excel-add-in used
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/view.generated.ts
  wren-ui/src/apollo/client/graphql/view.ts
  wren-ui/src/apollo/server/resolvers/askingResolver.ts
  wren-ui/src/apollo/server/resolvers/modelResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/services/askingService.ts
Labels: module/ui, ci/ui

#382 Chore/ai service/minor update
  .gitignore
  docker/.env.example
  docker/docker-compose-dev.yaml
  docker/docker-compose.yaml
  wren-ai-service/.env.dev.example
  wren-ai-service/.env.prod.example
  wren-ai-service/Makefile
  wren-ai-service/README.md
  wren-ai-service/docker/Dockerfile
  wren-ai-service/docker/docker-compose.yml
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/ask/historical_question.py
  wren-ai-service/src/pipelines/ask/indexing.py
  wren-ai-service/src/pipelines/ask_details/generation.py
  wren-ai-service/src/pre_run.py
  wren-ai-service/src/providers/llm/openai.py
  wren-ai-service/src/utils.py
  wren-ai-service/src/web/development.py
  wren-ai-service/src/web/v1/routers.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/src/web/v1/services/ask_details.py
  wren-ai-service/tests/locust/config_users.json
  wren-ai-service/tests/locust/locust.conf
  wren-ai-service/tests/locust/locustfile.py
Labels: module/ai-service

#386 small refactor and upgrade uvicorn version to allow process manager
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
  wren-ai-service/src/__main__.py
Labels: module/ai-service

#392 refine readme
  .github/workflows/ai-service-ci.yaml
  .github/workflows/ai-service-release-stable-image.yaml
  wren-ai-service/Makefile
  wren-ai-service/README.md
  wren-ai-service/demo/Makefile
  wren-ai-service/docker/Dockerfile
  wren-ai-service/src/__main__.py
Labels: module/ai-service

#403 Epic: integrate with ibis-server
  docker/.env.example
  docker/docker-compose-dev.yaml
  docker/docker-compose.yaml
  wren-launcher/utils/docker.go
  wren-ui/README.md
  wren-ui/migrations/20240327030000_create_ask_table.js
  wren-ui/migrations/20240418000000_update_project_table_pg.js
  wren-ui/migrations/20240530062133_update_project_table.js
  wren-ui/migrations/20240530062809_transfer_project_table_data.js
  wren-ui/migrations/20240530105955_drop_project_table_columns.js
  wren-ui/migrations/20240531085916_transfer_model_properties.js
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/view.generated.ts
  wren-ui/src/apollo/client/graphql/view.ts
  wren-ui/src/apollo/server/adaptors/ibisAdaptor.ts
  wren-ui/src/apollo/server/adaptors/tests/ibisAdaptor.test.ts
  wren-ui/src/apollo/server/adaptors/wrenEngineAdaptor.ts
  wren-ui/src/apollo/server/config.ts
  wren-ui/src/apollo/server/connectors/bqConnector.ts
  wren-ui/src/apollo/server/connectors/connector.ts
  wren-ui/src/apollo/server/connectors/duckdbConnector.ts
  wren-ui/src/apollo/server/connectors/postgresConnector.ts
  wren-ui/src/apollo/server/connectors/types.ts
  wren-ui/src/apollo/server/factories/bqStrategy.ts
  wren-ui/src/apollo/server/factories/dataSourceStrategy.ts
  wren-ui/src/apollo/server/factories/duckdbStrategy.ts
  wren-ui/src/apollo/server/factories/onboardingFactory.ts
  wren-ui/src/apollo/server/factories/postgresStrategy.ts
  wren-ui/src/apollo/server/mdl/mdlBuilder.ts
  wren-ui/src/apollo/server/mdl/test/mdlBuilder.test.ts
  wren-ui/src/apollo/server/mdl/type.ts
  wren-ui/src/apollo/server/models/model.ts
  wren-ui/src/apollo/server/repositories/deployLogRepository.ts
  wren-ui/src/apollo/server/repositories/projectRepository.ts
  wren-ui/src/apollo/server/resolvers.ts
  wren-ui/src/apollo/server/resolvers/askingResolver.ts
  wren-ui/src/apollo/server/resolvers/modelResolver.ts
  wren-ui/src/apollo/server/resolvers/projectResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/services/askingService.ts
  wren-ui/src/apollo/server/services/deployService.ts
  wren-ui/src/apollo/server/services/index.ts
  wren-ui/src/apollo/server/services/metadataService.ts
  wren-ui/src/apollo/server/services/modelService.ts
  wren-ui/src/apollo/server/services/projectService.ts
  wren-ui/src/apollo/server/services/queryService.ts
  wren-ui/src/apollo/server/services/tests/deployService.test.ts
  wren-ui/src/apollo/server/services/tests/projectService.test.ts
  wren-ui/src/apollo/server/tests/connector.test.ts
  wren-ui/src/apollo/server/tests/env.ts
  wren-ui/src/apollo/server/tests/testingDatabase/database.ts
  wren-ui/src/apollo/server/tests/testingDatabase/postgres.ts
  wren-ui/src/apollo/server/types/context.ts
  wren-ui/src/apollo/server/types/diagram.ts
  wren-ui/src/apollo/server/utils/docker.ts
  wren-ui/src/apollo/server/utils/error.ts
  wren-ui/src/apollo/server/utils/index.ts
  wren-ui/src/apollo/server/utils/model.ts
  wren-ui/src/pages/api/graphql.ts
Labels: ci/ui

#407 feature(wren-ai-service): Enhance the response for Dry-run API to Wren UI and development support
  .github/workflows/ai-service-ci.yaml
  .gitignore
  wren-ai-service/.env.dev.example
  wren-ai-service/Makefile
  wren-ai-service/src/engine.py
  wren-ai-service/src/pipelines/ask/components/post_processors.py
  wren-ai-service/src/pipelines/ask_details/generation.py
  wren-ai-service/tools/dev/.env.example
  wren-ai-service/tools/dev/config.properties.example
  wren-ai-service/tools/dev/docker-compose-dev.yaml
  wren-ai-service/tools/dev/launch-cli.sh
Labels: module/ai-service

#412 Fix(wren-ui): createMany with too many input value issue
  wren-ui/src/apollo/server/repositories/baseRepository.ts
Labels: ci/ui

#413 fix view id issue
  wren-ai-service/src/web/v1/services/ask.py
Labels: module/ai-service

#420 fix saved as view number
  wren-ai-service/src/web/v1/services/ask.py
Labels: module/ai-service

#422 fix filter score issue
  wren-ai-service/src/pipelines/ask/historical_question.py
Labels: module/ai-service

#404 feat(wren-ui): Detects schema change - table & column
  wren-ui/migrations/20240610070534_create_schema_change_table.js
  wren-ui/src/apollo/server/managers/dataSourceSchemaDetector.ts
  wren-ui/src/apollo/server/repositories/modelColumnRepository.ts
  wren-ui/src/apollo/server/repositories/modelRepository.ts
  wren-ui/src/apollo/server/repositories/schemaChangeRepository.ts
  wren-ui/src/apollo/server/resolvers.ts
  wren-ui/src/apollo/server/resolvers/projectResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/types/context.ts
  wren-ui/src/pages/api/graphql.ts
Labels: module/ui, ci/ui

#414 feat(wren-ui): Schema changes - Affected model & columns UI
  wren-ui/package.json
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/dataSource.generated.ts
  wren-ui/src/apollo/client/graphql/dataSource.ts
  wren-ui/src/apollo/client/graphql/diagram.generated.ts
  wren-ui/src/components/EllipsisWrapper.tsx
  wren-ui/src/components/modals/SchemaChangeModal.tsx
  wren-ui/src/components/sidebar/SidebarTree.tsx
  wren-ui/src/components/sidebar/modeling/GroupTreeTitle.tsx
  wren-ui/src/components/sidebar/modeling/ModelTree.tsx
  wren-ui/src/components/sidebar/utils.tsx
  wren-ui/src/styles/components/alert.less
  wren-ui/src/styles/components/tag.less
  wren-ui/src/styles/index.less
  wren-ui/src/utils/errorHandler.tsx
  wren-ui/yarn.lock
Labels: module/ui, ci/ui

#427 feat(wren-ui/e2e): Add calculated fields CRUD test for E-commerce sample dataset
  wren-ui/.env.test
  wren-ui/e2e/README.md
  wren-ui/e2e/commonTests/modeling.ts
  wren-ui/e2e/specs/connectSampleECommerce.spec.ts
  wren-ui/e2e/specs/connectSampleNBA.spec.ts
  wren-ui/playwright.config.ts
  wren-ui/src/components/sidebar/modeling/ModelTree.tsx
Labels: module/ui

#429 feat(wren-ui): Support MySQL data source UI
  wren-ui/e2e/config.ts
  wren-ui/e2e/specs/connectMySQL.spec.ts
  wren-ui/public/images/dataSource/mysql.svg
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/components/pages/setup/dataSources/MySQLProperties.tsx
  wren-ui/src/components/pages/setup/utils.tsx
  wren-ui/src/utils/enum/dataSources.ts
Labels: module/ui

#431 Chore/ai service/minor update
  docker/.env.example
  docker/docker-compose-dev.yaml
  docker/docker-compose.yaml
  wren-ai-service/.env.dev.example
  wren-ai-service/.env.prod.example
  wren-ai-service/src/pipelines/ask/components/prompts.py
  wren-ai-service/src/pipelines/ask/generation.py
  wren-ai-service/src/pipelines/ask_details/components/prompts.py
  wren-ai-service/src/pipelines/indexing/indexing.py
  wren-ai-service/src/providers/llm/azure_openai.py
  wren-ai-service/tests/pytest/providers/test_loader.py
Labels: module/ai-service

#376 minor update for supporting 3rd party Open AI APIs + add Ollama
  .github/workflows/ai-service-ci.yaml
  .gitignore
  deployment/kustomizations/base/cm.yaml
  deployment/kustomizations/base/deploy-wren-ai-service.yaml
  deployment/kustomizations/base/deploy-wren-ui.yaml
  deployment/kustomizations/patches/cm.yaml
  docker/.env.ai.example
  docker/.env.example
  docker/README.md
  docker/docker-compose-dev.yaml
  docker/docker-compose.yaml
  wren-ai-service/.env.dev.example
  wren-ai-service/.env.prod.example
  wren-ai-service/docker/docker-compose.yml
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
  wren-ai-service/src/pipelines/ask/components/post_processors.py
  wren-ai-service/src/pipelines/ask/query_understanding.py
  wren-ai-service/src/providers/document_store/qdrant.py
  wren-ai-service/src/providers/llm/azure_openai.py
  wren-ai-service/src/providers/llm/ollama.py
  wren-ai-service/src/providers/llm/openai.py
  wren-ai-service/src/providers/loader.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/src/web/v1/services/ask_details.py
  wren-ai-service/tests/locust/locust_script.py
  wren-ai-service/tests/pytest/providers/test_loader.py
  wren-ai-service/tools/dev/docker-compose-dev.yaml
  wren-launcher/commands/launch.go
  wren-launcher/utils/docker.go
  wren-ui/src/apollo/server/config.ts
  wren-ui/src/apollo/server/telemetry/telemetry.ts
Labels: module/ai-service

#443 Feature: Support MS SQL Server data source
  wren-ui/e2e/config.ts
  wren-ui/e2e/specs/connectSQLServer.spec.ts
  wren-ui/public/images/dataSource/sqlserver.svg
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/server/adaptors/ibisAdaptor.ts
  wren-ui/src/apollo/server/adaptors/tests/ibisAdaptor.test.ts
  wren-ui/src/apollo/server/dataSource.ts
  wren-ui/src/apollo/server/repositories/projectRepository.ts
  wren-ui/src/apollo/server/resolvers/projectResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/services/modelService.ts
  wren-ui/src/apollo/server/services/projectService.ts
  wren-ui/src/apollo/server/types/dataSource.ts
  wren-ui/src/apollo/server/utils/tests/dataSource.test.ts
  wren-ui/src/components/pages/setup/dataSources/SQLServerProperties.tsx
  wren-ui/src/components/pages/setup/utils.tsx
  wren-ui/src/utils/enum/dataSources.ts
  wren-ui/src/utils/helper.ts
Labels: ci/ui

#445 fix wren-ai-service 0.6.0 issues
  docker/.env.example
  docker/README.md
  docker/docker-compose-dev.yaml
  docker/docker-compose.yaml
  wren-ai-service/src/globals.py
  wren-ai-service/src/providers/document_store/qdrant.py
  wren-ai-service/src/providers/llm/ollama.py
  wren-ai-service/src/providers/llm/openai.py
  wren-ai-service/src/utils.py
  wren-ai-service/tests/pytest/pipelines/test_ask.py
  wren-launcher/commands/launch.go
  wren-launcher/utils/docker.go
Labels: module/ai-service

#442 feat(wren-ui): Support schema change phase 2
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/dataSource.generated.ts
  wren-ui/src/apollo/client/graphql/dataSource.ts
  wren-ui/src/apollo/server/managers/dataSourceSchemaDetector.ts
  wren-ui/src/apollo/server/repositories/modelColumnRepository.ts
  wren-ui/src/apollo/server/resolvers/modelResolver.ts
  wren-ui/src/apollo/server/resolvers/projectResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/utils/model.ts
  wren-ui/src/components/modals/SchemaChangeModal.tsx
  wren-ui/src/components/pages/modeling/form/ModelForm.tsx
  wren-ui/src/components/sidebar/modeling/ModelTree.tsx
  wren-ui/src/styles/components/alert.less
  wren-ui/src/styles/components/table.less
  wren-ui/src/styles/components/tag.less
Labels: module/ui, ci/ui

#447 change logger.error to logger.exception
  wren-ai-service/src/pipelines/ask/query_understanding.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/src/web/v1/services/ask_details.py
Labels: module/ai-service

#449 fix missing env
  docker/docker-compose-dev.yaml
Labels: module/ai-service

#451 fix launcher
  wren-launcher/utils/docker.go
Labels: module/ai-service

#457 Chore/ai service/auto deploy at init
  docker/README.md
  docker/docker-compose-dev.yaml
  docker/docker-compose.llm.yaml
  docker/docker-compose.yaml
  wren-ai-service/.dockerignore
  wren-ai-service/Makefile
  wren-ai-service/docker/Dockerfile
  wren-ai-service/docker/docker-compose.yaml
  wren-ai-service/entrypoint.sh
  wren-ai-service/src/force_deploy.py
Labels: module/ai-service
