Repository Canner/WrenAI, pull requests merged in 2024-04, with the labels that each got.

#86 Feature/ai service/refine ask pipeline v2
  wren-ai-service/src/eval/ask/__main__.py
  wren-ai-service/src/eval/ask/eval_sampledata.py
  wren-ai-service/src/eval/ask_details/__main__.py
  wren-ai-service/src/eval/ask_details/utils.py
  wren-ai-service/src/pipelines/ask/components/prompts.py
  wren-ai-service/src/pipelines/ask_details/components/post_processors.py
  wren-ai-service/src/pipelines/ask_details/generation_pipeline.py
  wren-ai-service/src/utils.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/src/web/v1/services/ask_details.py
  wren-ai-service/tests/services/test_ask_details.py
  wren-ai-service/tests/test_main.py
Labels: module/ai-service, ci/ai-service

#88 feature(ai-service): push on protected branch that required PR before merging via GitHub APP as the bot
  .github/workflows/ai-service-release-stable-image.yaml
Labels: enhancement, module/ai-service

#72 [DRAFT] Chore(Wren-ui): add githab action script for CI
  .github/workflows/ui-lint.yaml
  .github/workflows/ui-release-image-stable.yaml
  .github/workflows/ui-release-image.yaml
  .github/workflows/ui-test.yaml
  wren-ui/Dockerfile
  wren-ui/src/apollo/server/mdl/test/mdlBuilder.test.ts
Labels: ci/ui

#98 add aster as author
  wren-ai-service/pyproject.toml
Labels: module/ai-service, ci/ai-service

#102 fix(ai-service): correct the breaking change for ask details evaluation process
  wren-ai-service/src/eval/ask_details/__main__.py
  wren-ai-service/src/eval/ask_details/utils.py
  wren-ai-service/src/pipelines/ask_details/components/post_processors.py
  wren-ai-service/src/pipelines/ask_details/generation_pipeline.py
Labels: module/ai-service

#99 feat(wren-ui): Add view UI for modeling
  wren-ui/src/components/dataPreview/PreviewData.tsx
  wren-ui/src/components/dataPreview/PreviewDataContent.tsx
  wren-ui/src/components/diagram/CustomDropdown.tsx
  wren-ui/src/components/diagram/customNode/ViewNode.tsx
  wren-ui/src/components/diagram/customNode/index.ts
  wren-ui/src/components/diagram/customNode/utils.tsx
  wren-ui/src/components/diagram/index.tsx
  wren-ui/src/components/editor/CodeBlock.tsx
  wren-ui/src/components/modals/DeleteModal.tsx
  wren-ui/src/components/pages/home/promptThread/CollapseContent.tsx
  wren-ui/src/components/pages/modeling/MetadataDrawer.tsx
  wren-ui/src/components/pages/modeling/metadata/ViewMetadata.tsx
  wren-ui/src/components/sidebar/Modeling.tsx
  wren-ui/src/components/sidebar/modeling/ViewTree.tsx
  wren-ui/src/pages/modeling.tsx
  wren-ui/src/utils/data/type/modeling.ts
  wren-ui/src/utils/diagram/transformer.ts
Labels: module/ui

#108 Fix(wren-ui): list threads should in time desc order
  wren-ui/src/apollo/server/repositories/threadRepository.ts
  wren-ui/src/apollo/server/resolvers/askingResolver.ts
  wren-ui/src/apollo/server/services/askingService.ts
Labels: ci/ui

#118 fix(wren-ui/api): fix engine throws 400 error if properties contains non-string value
  wren-ui/src/apollo/server/mdl/mdlBuilder.ts
  wren-ui/src/apollo/server/mdl/type.ts
Labels: ci/ui

#121 Fix(wren-ui): change project schema & catalog to wrenai
  wren-ui/src/apollo/server/factories/onboardingFactory.ts
  wren-ui/src/apollo/server/mdl/test/mdlBuilder.test.ts
Labels: ci/ui

#107 feat(wren-ui): Support deploy with show status on modeling page
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/deploy.generated.ts
  wren-ui/src/apollo/client/graphql/deploy.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/components/HeaderBar.tsx
  wren-ui/src/components/deploy/Context.ts
  wren-ui/src/components/deploy/Deploy.tsx
  wren-ui/src/pages/modeling.tsx
  wren-ui/src/styles/components/button.less
Labels: module/ui

#122 feat(wren-ui): UI integration API of View for the modeling page
  wren-ui/src/apollo/client/graphql/view.generated.ts
  wren-ui/src/apollo/client/graphql/view.ts
  wren-ui/src/apollo/server/resolvers/modelResolver.ts
  wren-ui/src/components/diagram/customNode/ModelNode.tsx
  wren-ui/src/components/diagram/customNode/ViewNode.tsx
  wren-ui/src/components/diagram/customNode/utils.tsx
  wren-ui/src/components/pages/modeling/metadata/ViewMetadata.tsx
  wren-ui/src/components/sidebar/modeling/ModelTree.tsx
  wren-ui/src/components/sidebar/modeling/ViewTree.tsx
  wren-ui/src/pages/modeling.tsx
  wren-ui/src/utils/data/type/modeling.ts
  wren-ui/src/utils/diagram/transformer.ts
Labels: module/ui, ci/ui

#126 feat(wren-ui): Support share connection info
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/deploy.generated.ts
  wren-ui/src/apollo/client/graphql/deploy.ts
  wren-ui/src/components/HeaderBar.tsx
  wren-ui/src/components/SharePopover.tsx
Labels: module/ui

#128 Feature/wren ai service/demo lab
  .gitignore
  docker/docker-compose-dev.yaml
  wren-ai-service/.env.dev.example
  wren-ai-service/README.md
  wren-ai-service/demo/Makefile
  wren-ai-service/demo/app.py
  wren-ai-service/demo/pyproject.toml
  wren-ai-service/demo/sample_dataset/ecommerce_duckdb_mdl.json
  wren-ai-service/demo/sample_dataset/music_duckdb_mdl.json
  wren-ai-service/demo/sample_dataset/nba_duckdb_mdl.json
  wren-ai-service/demo/utils.py
  wren-ai-service/src/__main__.py
  wren-ai-service/src/pipelines/ask/components/post_processors.py
  wren-ai-service/src/utils.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/tests/pipelines/test_ask_details.py
  wren-ai-service/tests/services/test_ask.py
  wren-ai-service/tests/test_main.py
Labels: module/ai-service, ci/ai-service

#130 Feature/wren ai service/add query understanding
  wren-ai-service/demo/utils.py
  wren-ai-service/pyproject.toml
  wren-ai-service/src/eval/ask/dataset.py
  wren-ai-service/src/eval/ask/utils.py
  wren-ai-service/src/eval/data/baseball_1_mdl.json
  wren-ai-service/src/eval/data/book_2_mdl.json
  wren-ai-service/src/eval/data/college_3_mdl.json
  wren-ai-service/src/eval/wren-engine/config.properties.example
  wren-ai-service/src/eval/wren-engine/launch-cli.sh
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/ask/components/post_processors.py
  wren-ai-service/src/pipelines/ask/components/prompts.py
  wren-ai-service/src/pipelines/ask/query_understanding_pipeline.py
  wren-ai-service/src/pipelines/ask/retrieval_pipeline.py
  wren-ai-service/src/pipelines/semantics/description.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/tests/data/book_2_mdl.json
  wren-ai-service/tests/pipelines/test_ask.py
  wren-ai-service/tests/services/test_ask.py
  wren-ai-service/tests/services/test_semantics.py
  wren-ai-service/tests/test_main.py
Labels: module/ai-service, ci/ai-service

#138 Fix(wren-ui): fix invalid session props cause saveDataSource action to fail
  wren-ui/src/apollo/server/connectors/duckdbConnector.ts
Labels: ci/ui

#132 Feature: Add ask eval run option - use optimal db schema
  .gitignore
  wren-ai-service/src/eval/ask/__main__.py
  wren-ai-service/src/eval/ask/prepare_optimal_ddl.py
  wren-ai-service/src/eval/data/college_3_optimal_ddl.json
  wren-ai-service/src/utils.py
Labels: module/ai-service, ci/ai-service

#140 Fix: fix incorrect array deconstructor
  wren-ui/src/apollo/server/connectors/duckdbConnector.ts
Labels: ci/ui

#136 Feature/wren ai service/refine pipelines
  wren-ai-service/demo/app.py
  wren-ai-service/demo/sample_dataset/ecommerce_duckdb_mdl.json
  wren-ai-service/demo/sample_dataset/music_duckdb_mdl.json
  wren-ai-service/demo/sample_dataset/nba_duckdb_mdl.json
  wren-ai-service/demo/utils.py
  wren-ai-service/src/eval/ask/__main__.py
  wren-ai-service/src/eval/ask/eval_sampledata.py
  wren-ai-service/src/pipelines/ask/components/generator.py
  wren-ai-service/src/pipelines/ask/components/prompts.py
  wren-ai-service/src/pipelines/ask/followup_generation_pipeline.py
  wren-ai-service/src/pipelines/ask/generation_pipeline.py
  wren-ai-service/src/pipelines/ask/sql_correction_pipeline.py
  wren-ai-service/src/pipelines/ask_details/components/post_processors.py
  wren-ai-service/src/pipelines/ask_details/components/prompts.py
  wren-ai-service/src/utils.py
  wren-ai-service/tests/pipelines/test_ask.py
Labels: module/ai-service, ci/ai-service

#135 Feature: support PG connector
  docker/docker-compose-dev.yaml
  wren-ui/migrations/20240125070643_create_project_table.js
  wren-ui/migrations/20240129021453_create_view_table.js
  wren-ui/migrations/20240418000000_update_project_table_pg.js
  wren-ui/package.json
  wren-ui/src/apollo/server/connectors/pgConnector.ts
  wren-ui/src/apollo/server/factories/bqStrategy.ts
  wren-ui/src/apollo/server/factories/dataSourceStrategy.ts
  wren-ui/src/apollo/server/factories/duckdbStrategy.ts
  wren-ui/src/apollo/server/factories/onboardingFactory.ts
  wren-ui/src/apollo/server/factories/pgStrategy.ts
  wren-ui/src/apollo/server/repositories/projectRepository.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/services/tests/deployService.test.ts
  wren-ui/src/apollo/server/tests/connector.test.ts
  wren-ui/src/apollo/server/tests/env.ts
  wren-ui/src/apollo/server/tests/testingDatabase/database.ts
  wren-ui/src/apollo/server/tests/testingDatabase/pg.ts
  wren-ui/src/apollo/server/types/dataSource.ts
  wren-ui/yarn.lock
Labels: ci/ui

#133 chore(wren-ui): Enhance view node
  wren-ui/src/components/diagram/CustomDropdown.tsx
  wren-ui/src/components/diagram/customNode/ViewNode.tsx
Labels: module/ui

#127 feat(wren-ui): Add PostgreSQL UI for onboarding
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/components/pages/setup/Starter.tsx
  wren-ui/src/components/pages/setup/dataSources/BigQueryProperties.tsx
  wren-ui/src/components/pages/setup/dataSources/PostgreSQLProperties.tsx
  wren-ui/src/components/pages/setup/utils.tsx
  wren-ui/src/utils/enum/dataSources.ts
  wren-ui/src/utils/error/dictionary.ts
Labels: module/ui

#137 feat(wren-ui): Settings
  wren-ui/migrations/20240125085655_create_metrics_table.js
  wren-ui/migrations/20240126100753_create_metrics_measure_table.js
  wren-ui/migrations/20240419090558_add_foreign_key_to_model_column_and_metric_measure.js
  wren-ui/next.config.js
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/dataSource.generated.ts
  wren-ui/src/apollo/client/graphql/dataSource.ts
  wren-ui/src/apollo/client/graphql/settings.generated.ts
  wren-ui/src/apollo/client/graphql/settings.ts
  wren-ui/src/apollo/server/connectors/duckdbConnector.ts
  wren-ui/src/apollo/server/factories/bqStrategy.ts
  wren-ui/src/apollo/server/factories/dataSourceStrategy.ts
  wren-ui/src/apollo/server/factories/duckdbStrategy.ts
  wren-ui/src/apollo/server/factories/pgStrategy.ts
  wren-ui/src/apollo/server/resolvers.ts
  wren-ui/src/apollo/server/resolvers/projectResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/services/askingService.ts
  wren-ui/src/apollo/server/services/deployService.ts
  wren-ui/src/apollo/server/services/modelService.ts
  wren-ui/src/apollo/server/services/projectService.ts
  wren-ui/src/apollo/server/types/dataSource.ts
  wren-ui/src/apollo/server/utils/index.ts
  wren-ui/src/apollo/server/utils/string.ts
  wren-ui/src/components/PageLoading.tsx
  wren-ui/src/components/pages/setup/ButtonItem.tsx
  wren-ui/src/components/pages/setup/Starter.tsx
  wren-ui/src/components/pages/setup/dataSources/BigQueryProperties.tsx
  wren-ui/src/components/pages/setup/dataSources/DuckDBProperties.tsx
  wren-ui/src/components/pages/setup/dataSources/PostgreSQLProperties.tsx
  wren-ui/src/components/pages/setup/utils.tsx
  wren-ui/src/components/settings/DataSourceSettings.tsx
  wren-ui/src/components/settings/ProjectSettings.tsx
  wren-ui/src/components/settings/index.tsx
  wren-ui/src/hooks/useHomeSidebar.tsx
  wren-ui/src/hooks/useSetupConnection.tsx
  wren-ui/src/pages/api/graphql.ts
  wren-ui/src/pages/home/index.tsx
  wren-ui/src/pages/modeling.tsx
  wren-ui/src/styles/index.less
  wren-ui/src/styles/utilities/display.less
  wren-ui/src/styles/utilities/grid.less
  wren-ui/src/utils/errorHandler.tsx
Labels: module/ui, ci/ui

#146 chore(wren-ui): update fetch policy for onboarding flow
  wren-ui/src/hooks/useSetupModels.tsx
  wren-ui/src/hooks/useSetupRelations.tsx
Labels: module/ui

#152 fix(wren-ui): allow back to previous steps for onboarding and improve
  wren-ui/src/components/pages/setup/ConnectDataSource.tsx
  wren-ui/src/components/pages/setup/SelectModels.tsx
  wren-ui/src/hooks/useCheckOnboarding.tsx
  wren-ui/src/hooks/useCombineFieldOptions.tsx
Labels: module/ui

#159 Feature/ai service/improve pipelines
  wren-ai-service/demo/Makefile
  wren-ai-service/demo/sample_dataset/ecommerce_duckdb_mdl.json
  wren-ai-service/demo/sample_dataset/music_duckdb_mdl.json
  wren-ai-service/demo/sample_dataset/nba_duckdb_mdl.json
  wren-ai-service/pyproject.toml
  wren-ai-service/src/eval/ask/eval_sampledata.py
  wren-ai-service/src/eval/ask/sampledata_questions.json
  wren-ai-service/src/pipelines/ask/components/prompts.py
  wren-ai-service/src/pipelines/ask/indexing_pipeline.py
  wren-ai-service/src/pipelines/ask_details/components/post_processors.py
  wren-ai-service/src/pipelines/ask_details/components/prompts.py
  wren-ai-service/src/utils.py
  wren-ui/src/apollo/server/data/sample.ts
Labels: module/ai-service, ci/ai-service

#174 refine demo site for easier debugging
  docker/docker-compose-dev.yaml
  wren-ai-service/demo/Makefile
Labels: module/ai-service, ci/ai-service

#156 feat(wren-ui): Add model CRUD UI to diagram
  wren-ui/src/components/ActionButton.tsx
  wren-ui/src/components/diagram/Context.ts
  wren-ui/src/components/diagram/CustomDropdown.tsx
  wren-ui/src/components/diagram/customNode/Column.tsx
  wren-ui/src/components/diagram/customNode/ModelNode.tsx
  wren-ui/src/components/diagram/customNode/ViewNode.tsx
  wren-ui/src/components/diagram/customNode/utils.tsx
  wren-ui/src/components/diagram/index.tsx
  wren-ui/src/components/modals/DeleteModal.tsx
  wren-ui/src/components/pages/modeling/metadata/ModelMetadata.tsx
  wren-ui/src/components/sidebar/Modeling.tsx
  wren-ui/src/components/sidebar/modeling/ModelTree.tsx
  wren-ui/src/components/sidebar/modeling/ViewTree.tsx
  wren-ui/src/pages/modeling.tsx
  wren-ui/src/utils/enum/modeling.ts
Labels: module/ui, ci/ui

#155 feat(wren-ui): Support Model drawer UI
  wren-ui/src/apollo/client/graphql/dataSource.generated.ts
  wren-ui/src/apollo/client/graphql/dataSource.ts
  wren-ui/src/components/PageLoading.tsx
  wren-ui/src/components/pages/modeling/ModelDrawer.tsx
  wren-ui/src/components/pages/modeling/form/ModelForm.tsx
  wren-ui/src/components/sidebar/Modeling.tsx
  wren-ui/src/components/sidebar/modeling/ModelTree.tsx
  wren-ui/src/components/table/TableTransfer.tsx
  wren-ui/src/pages/modeling.tsx
  wren-ui/src/styles/components/transfer.less
  wren-ui/src/styles/index.less
  wren-ui/src/utils/error/dictionary.ts
Labels: module/ui

#176 fix(wren-ui): update primary key validator for model form
  wren-ui/src/components/pages/modeling/form/ModelForm.tsx
  wren-ui/src/utils/error/dictionary.ts
Labels: module/ui

#172 feat(wren-ui): Support edit Model metadata UI
  wren-ui/src/components/EditableWrapper.tsx
  wren-ui/src/components/pages/modeling/EditMetadataModal.tsx
  wren-ui/src/components/pages/modeling/MetadataDrawer.tsx
  wren-ui/src/components/pages/modeling/metadata/EditBasicMetadata.tsx
  wren-ui/src/components/pages/modeling/metadata/EditModelMetadata.tsx
  wren-ui/src/components/pages/modeling/metadata/ModelMetadata.tsx
  wren-ui/src/components/table/BaseTable.tsx
  wren-ui/src/components/table/EditableBaseTable.tsx
  wren-ui/src/components/table/FieldTable.tsx
  wren-ui/src/components/table/RelationTable.tsx
  wren-ui/src/pages/modeling.tsx
Labels: module/ui, ci/ui
