Repository Canner/WrenAI, pull requests merged in 2025-08, with the labels that each got.

#1855 chore(wren-ai-service): improve text2sql
  wren-ai-service/src/core/engine.py
  wren-ai-service/src/pipelines/generation/utils/sql.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1869 chore(wren-ai-service): add custom instructions
  wren-ai-service/src/pipelines/generation/data_assistance.py
  wren-ai-service/src/pipelines/generation/misleading_assistance.py
  wren-ai-service/src/pipelines/generation/user_guide_assistance.py
  wren-ai-service/src/web/v1/services/ask.py
Labels: wren-ui, wren-ai-service

#1867 feat(wren-ui): Support Dutch(NL) language
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/server/models/adaptor.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/utils/language.ts
Labels: wren-ui

#1865 feat(wren-ui): Provide Snowflake key pair authentication
  wren-ui/src/apollo/server/adaptors/ibisAdaptor.ts
  wren-ui/src/apollo/server/dataSource.ts
  wren-ui/src/apollo/server/repositories/projectRepository.ts
  wren-ui/src/apollo/server/services/projectService.ts
  wren-ui/src/components/pages/setup/dataSources/BigQueryProperties.tsx
  wren-ui/src/components/pages/setup/dataSources/SnowflakeProperties.tsx
  wren-ui/src/hooks/useSetupConnectionDataSource.tsx
  wren-ui/src/utils/error/dictionary.ts
  wren-ui/src/utils/file.ts
Labels: wren-ui

#1868 feat(wren-ui): show intent reasoning for general answer
  wren-ui/src/components/pages/home/prompt/Result.tsx
  wren-ui/src/utils/svgs/BrainSVG.tsx
  wren-ui/src/utils/svgs/index.ts
Labels: wren-ui

#1872 fix(wren-ui): Handle error with try/catch mutation shouldn't has onError
  wren-ui/src/hooks/useAskPrompt.tsx
  wren-ui/src/hooks/useRecommendedQuestionsInstruction.tsx
  wren-ui/src/hooks/useSetupModels.tsx
Labels: wren-ui

#1873 chore(wren-ui): update doc link to snowflake authentication
  wren-ui/src/components/pages/setup/dataSources/SnowflakeProperties.tsx
Labels: wren-ui

#1875 feat(wren-ai-service): add support for new GPT-5 models in configuration files (ai-env-changed)
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
  wren-launcher/commands/launch.go
  wren-launcher/utils/docker.go
Labels: launcher, wren-ai-service, deployment, ai-env-changed

#1880 feat(config): add 'reasoning_effort' parameter to GPT-5 model configurations across multiple files (ai-env-changed)
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  wren-ai-service/src/providers/llm/litellm.py
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
Labels: wren-ai-service, deployment, ai-env-changed

#1877 chore(wren-launcher): add CI flow and apply lint tools
  .github/workflows/wren-launcher-ci.yaml
  wren-launcher/.golangci.yml
  wren-launcher/Makefile
  wren-launcher/README.md
  wren-launcher/commands/dbt/converter.go
  wren-launcher/commands/dbt/data_source.go
  wren-launcher/commands/dbt/data_source_test.go
  wren-launcher/commands/dbt/profiles_analyzer.go
  wren-launcher/commands/launch.go
  wren-launcher/config/config.go
  wren-launcher/go.mod
  wren-launcher/utils/docker.go
  wren-launcher/utils/rc.go
  wren-launcher/utils/rc_test.go
Labels: launcher

#1893 chore(wren-ai-service): minor updates (ai-env-changed)
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/generation/followup_sql_generation.py
  wren-ai-service/src/pipelines/generation/question_recommendation.py
  wren-ai-service/src/pipelines/generation/relationship_recommendation.py
  wren-ai-service/src/pipelines/generation/semantics_description.py
  wren-ai-service/src/pipelines/generation/sql_correction.py
  wren-ai-service/src/pipelines/generation/sql_generation.py
  wren-ai-service/src/pipelines/generation/sql_regeneration.py
  wren-ai-service/src/pipelines/generation/utils/sql.py
  wren-ai-service/src/pipelines/retrieval/sql_executor.py
  wren-ai-service/src/pipelines/retrieval/sql_functions.py
  wren-ai-service/src/providers/engine/wren.py
  wren-ai-service/src/providers/llm/__init__.py
  wren-ai-service/src/providers/llm/litellm.py
  wren-ai-service/src/web/v1/routers/__init__.py
  wren-ai-service/src/web/v1/routers/ask.py
  wren-ai-service/src/web/v1/routers/ask_feedbacks.py
  wren-ai-service/src/web/v1/services/__init__.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/src/web/v1/services/ask_feedback.py
  wren-ai-service/src/web/v1/services/question_recommendation.py
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
Labels: module/ai-service, ci/ai-service, wren-ai-service, deployment, ai-env-changed

#1895 chore(wren-ai-service): fix relationship recommendation
  wren-ai-service/src/pipelines/generation/relationship_recommendation.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1900 feat(wren-ui): Support SQL formatting in FixSQL modal
  wren-ui/src/apollo/server/resolvers/askingResolver.ts
  wren-ui/src/apollo/server/resolvers/modelResolver.ts
  wren-ui/src/apollo/server/resolvers/sqlPairResolver.ts
  wren-ui/src/apollo/server/services/askingService.ts
  wren-ui/src/apollo/server/utils/sqlFormat.ts
Labels: wren-ui

#1903 fix(wren-ui): show text based answer preview data error
  wren-ui/src/components/pages/home/promptThread/TextBasedAnswer.tsx
Labels: wren-ui

#1913 chore(wren-ai-service): improve add quotes
  wren-ai-service/eval/data_curation/utils.py
  wren-ai-service/eval/utils.py
  wren-ai-service/src/core/engine.py
  wren-ai-service/tests/pytest/test_engine.py
  wren-ai-service/tools/run_sql.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1919 chore(wren-ai-service): fix add quotes
  wren-ai-service/src/core/engine.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1876 feat(wren-launcher): support MySQL and Postgres data source for dbt-tool
  wren-launcher/commands/dbt/README.md
  wren-launcher/commands/dbt/converter.go
  wren-launcher/commands/dbt/data_source.go
  wren-launcher/commands/dbt/data_source_test.go
  wren-launcher/commands/dbt/profiles.go
  wren-launcher/commands/dbt/profiles_analyzer.go
Labels: launcher
