Repository Canner/WrenAI, pull requests merged in 2025-06, with the labels that each got.

#1709 chore(wren-ai-service): correct wren_ibis endpoint in config examples
  wren-ai-service/docs/config_examples/config.anthropic.yaml
  wren-ai-service/docs/config_examples/config.azure.yaml
  wren-ai-service/docs/config_examples/config.deepseek.yaml
  wren-ai-service/docs/config_examples/config.google_ai_studio.yaml
  wren-ai-service/docs/config_examples/config.grok.yaml
  wren-ai-service/docs/config_examples/config.groq.yaml
  wren-ai-service/docs/config_examples/config.lm_studio.yaml
  wren-ai-service/docs/config_examples/config.ollama.yaml
  wren-ai-service/docs/config_examples/config.open_router.yaml
  wren-ai-service/docs/config_examples/config.qwen3.yaml
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1714 chore(wren-ai-service): remove unused config
  wren-ai-service/src/pipelines/generation/followup_sql_generation.py
  wren-ai-service/src/pipelines/generation/followup_sql_generation_reasoning.py
  wren-ai-service/src/pipelines/generation/intent_classification.py
  wren-ai-service/src/pipelines/generation/sql_generation.py
  wren-ai-service/src/pipelines/generation/sql_generation_reasoning.py
  wren-ai-service/src/pipelines/generation/sql_regeneration.py
  wren-ai-service/src/pipelines/generation/utils/sql.py
  wren-ai-service/src/web/v1/services/__init__.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1698 feat(wren-ui): Support MySQL ssl
  wren-ui/src/apollo/server/dataSource.ts
  wren-ui/src/apollo/server/repositories/projectRepository.ts
  wren-ui/src/components/pages/setup/dataSources/MySQLProperties.tsx
Labels: wren-ui

#1717 fix(wren-ui): fix lint error
  wren-ui/src/apollo/server/adaptors/tests/ibisAdaptor.test.ts
  wren-ui/src/components/pages/setup/dataSources/MySQLProperties.tsx
  wren-ui/src/components/pages/setup/dataSources/OracleProperties.tsx
Labels: wren-ui

#1722 chore(wren-ai-service): minor updates
  wren-ai-service/src/providers/embedder/litellm.py
  wren-ai-service/src/providers/llm/__init__.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1726 chore(wren-ai-service): update apis
  wren-ai-service/src/web/v1/services/__init__.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/src/web/v1/services/chart.py
  wren-ai-service/src/web/v1/services/chart_adjustment.py
  wren-ai-service/src/web/v1/services/instructions.py
  wren-ai-service/src/web/v1/services/question_recommendation.py
  wren-ai-service/src/web/v1/services/relationship_recommendation.py
  wren-ai-service/src/web/v1/services/semantics_description.py
  wren-ai-service/src/web/v1/services/semantics_preparation.py
  wren-ai-service/src/web/v1/services/sql_answer.py
  wren-ai-service/src/web/v1/services/sql_corrections.py
  wren-ai-service/src/web/v1/services/sql_pairs.py
  wren-ai-service/src/web/v1/services/sql_question.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1746 chore(wren-ai-service): fix lint
  wren-ai-service/eval/metrics/spider/process_sql.py
  wren-ai-service/src/pipelines/generation/chart_generation.py
  wren-ai-service/src/pipelines/generation/data_assistance.py
  wren-ai-service/src/pipelines/generation/misleading_assistance.py
  wren-ai-service/src/pipelines/generation/sql_answer.py
  wren-ai-service/src/pipelines/generation/sql_correction.py
  wren-ai-service/src/pipelines/generation/sql_generation_reasoning.py
  wren-ai-service/src/pipelines/generation/sql_question.py
  wren-ai-service/src/pipelines/generation/user_guide_assistance.py
  wren-ai-service/src/pipelines/retrieval/db_schema_retrieval.py
  wren-ai-service/src/pipelines/retrieval/preprocess_sql_data.py
  wren-ai-service/src/providers/__init__.py
  wren-ai-service/src/web/v1/routers/ask.py
  wren-ai-service/tests/pytest/services/test_semantics_description.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1756 feat(wren-ai-service): add custom instructions
  wren-ai-service/src/pipelines/generation/chart_generation.py
  wren-ai-service/src/pipelines/generation/sql_answer.py
  wren-ai-service/src/web/v1/services/chart.py
  wren-ai-service/src/web/v1/services/sql_answer.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1754 feat(wren-ui): Support Athena connector
  wren-ui/public/images/dataSource/athena.svg
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/dashboard.generated.ts
  wren-ui/src/apollo/server/adaptors/ibisAdaptor.ts
  wren-ui/src/apollo/server/dataSource.ts
  wren-ui/src/apollo/server/mdl/mdlBuilder.ts
  wren-ui/src/apollo/server/mdl/type.ts
  wren-ui/src/apollo/server/repositories/projectRepository.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/types/dataSource.ts
  wren-ui/src/components/pages/setup/dataSources/AthenaProperties.tsx
  wren-ui/src/components/pages/setup/utils.tsx
  wren-ui/src/pages/home/dashboard.tsx
  wren-ui/src/utils/dataSourceType.ts
  wren-ui/src/utils/enum/dataSources.ts
  wren-ui/src/utils/error/dictionary.ts
Labels: wren-ui

#1760 chore(wren-ai-service): minor updates (ai-env-changed)
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  wren-ai-service/src/pipelines/common.py
  wren-ai-service/src/pipelines/generation/sql_correction.py
  wren-ai-service/src/pipelines/generation/utils/sql.py
  wren-ai-service/src/pipelines/indexing/utils/helper.py
  wren-ai-service/src/pipelines/retrieval/sql_functions.py
  wren-ai-service/src/providers/__init__.py
  wren-ai-service/src/providers/document_store/qdrant.py
  wren-ai-service/src/providers/embedder/litellm.py
  wren-ai-service/src/providers/engine/wren.py
  wren-ai-service/src/providers/llm/litellm.py
  wren-ai-service/src/providers/loader.py
  wren-ai-service/src/web/v1/routers/sql_corrections.py
  wren-ai-service/src/web/v1/services/__init__.py
  wren-ai-service/src/web/v1/services/sql_corrections.py
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
Labels: module/ai-service, ci/ai-service, wren-ai-service, deployment, ai-env-changed

#1763 chore(wren-ai-service): improve semantics description
  wren-ai-service/src/pipelines/generation/semantics_description.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1764 chore(wren-ai-service): minor updates
  wren-ai-service/src/providers/engine/wren.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1761 feat(wren-ui): Support Redshift connector
  wren-ui/public/images/dataSource/redshift.svg
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/server/adaptors/ibisAdaptor.ts
  wren-ui/src/apollo/server/dataSource.ts
  wren-ui/src/apollo/server/mdl/mdlBuilder.ts
  wren-ui/src/apollo/server/mdl/type.ts
  wren-ui/src/apollo/server/repositories/projectRepository.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/types/dataSource.ts
  wren-ui/src/components/pages/setup/dataSources/RedshiftProperties.tsx
  wren-ui/src/components/pages/setup/utils.tsx
  wren-ui/src/hooks/useSetupConnectionDataSource.tsx
  wren-ui/src/utils/dataSourceType.ts
  wren-ui/src/utils/enum/dataSources.ts
  wren-ui/src/utils/error/dictionary.ts
Labels: wren-ui

#1766 feat(wren-ui): add loading state for fix SQL modal
  wren-ui/src/components/pages/home/preparation/ErrorBoundary.tsx
  wren-ui/src/components/pages/home/preparation/index.tsx
  wren-ui/src/components/pages/home/promptThread/store.tsx
  wren-ui/src/pages/home/[id].tsx
Labels: wren-ui

#1769 feat(wren-ui): add awsSecretKey to sensitive properties for redshift
  wren-ui/src/apollo/server/services/projectService.ts
  wren-ui/src/hooks/useSetupConnectionDataSource.tsx
Labels: wren-ui

#1775 chore(wren-ai-service): improve api params handling
  wren-ai-service/src/web/v1/services/__init__.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1776 chore(wren-ai-service): update dependencies and versions in poetry.lock and pyproject.toml
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
Labels: wren-ai-service

#1791 chore(wren-ai-service): minor updates
  wren-ai-service/src/pipelines/generation/sql_correction.py
  wren-ai-service/src/pipelines/generation/utils/sql.py
  wren-ai-service/src/providers/engine/wren.py
  wren-ai-service/src/web/v1/routers/sql_corrections.py
  wren-ai-service/src/web/v1/services/sql_corrections.py
Labels: module/ai-service, ci/ai-service

#1797 chore(wren-ai-service): update docs
  wren-ai-service/docs/config_examples/config.azure.yaml
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1804 chore(wren-ai-service): add retrieved_tables to sql correction api
  wren-ai-service/src/web/v1/routers/sql_corrections.py
  wren-ai-service/src/web/v1/services/sql_corrections.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1805 chore(wren-ai-service): update backoff retry mechanism
  wren-ai-service/src/providers/embedder/litellm.py
  wren-ai-service/src/providers/llm/litellm.py
Labels: module/ai-service, ci/ai-service, wren-ai-service
