Repository Canner/WrenAI, pull requests merged in 2025-05, with the labels that each got.

#1625 chore(wren-ai-service): fix logger issue
  wren-ai-service/src/providers/llm/__init__.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1626 chore(wren-ai-service): minor updates (ai-env-changed)
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  wren-ai-service/docs/config_examples/config.anthropic.yaml
  wren-ai-service/docs/config_examples/config.azure.yaml
  wren-ai-service/docs/config_examples/config.deepseek.yaml
  wren-ai-service/docs/config_examples/config.google_ai_studio.yaml
  wren-ai-service/docs/config_examples/config.grok.yaml
  wren-ai-service/docs/config_examples/config.groq.yaml
  wren-ai-service/docs/config_examples/config.lm_studio.yaml
  wren-ai-service/docs/config_examples/config.ollama.yaml
  wren-ai-service/docs/config_examples/config.open_router.yaml
  wren-ai-service/src/config.py
  wren-ai-service/src/globals.py
  wren-ai-service/src/providers/embedder/azure_openai.py
  wren-ai-service/src/providers/embedder/ollama.py
  wren-ai-service/src/providers/embedder/openai.py
  wren-ai-service/src/providers/llm/azure_openai.py
  wren-ai-service/src/providers/llm/ollama.py
  wren-ai-service/src/providers/llm/openai.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/src/web/v1/services/question_recommendation.py
  wren-ai-service/tests/pytest/providers/test_loader.py
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
Labels: module/ai-service, ci/ai-service, wren-ai-service, deployment, ai-env-changed

#1624 fix(wren-ui): transform temporal value for chart displaying in safari
  wren-ui/src/components/chart/handler.ts
Labels: wren-ui

#1628 feat(wren-ai-service): fix by ai endpoint (ai-env-changed)
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  wren-ai-service/docs/config_examples/config.anthropic.yaml
  wren-ai-service/docs/config_examples/config.azure.yaml
  wren-ai-service/docs/config_examples/config.deepseek.yaml
  wren-ai-service/docs/config_examples/config.google_ai_studio.yaml
  wren-ai-service/docs/config_examples/config.grok.yaml
  wren-ai-service/docs/config_examples/config.groq.yaml
  wren-ai-service/docs/config_examples/config.lm_studio.yaml
  wren-ai-service/docs/config_examples/config.ollama.yaml
  wren-ai-service/docs/config_examples/config.open_router.yaml
  wren-ai-service/eval/pipelines.py
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/generation/__init__.py
  wren-ai-service/src/pipelines/generation/sql_tables_extraction.py
  wren-ai-service/src/pipelines/retrieval/__init__.py
  wren-ai-service/src/pipelines/retrieval/db_schema_retrieval.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/src/web/v1/services/question_recommendation.py
  wren-ai-service/src/web/v1/services/sql_corrections.py
  wren-ai-service/tests/pytest/pipelines/generation/test_ask.py
  wren-ai-service/tests/pytest/services/mocks.py
  wren-ai-service/tests/pytest/services/test_ask.py
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
Labels: module/ai-service, ci/ai-service, wren-ai-service, deployment, ai-env-changed

#1629 chore(wren-ai-service): fix typo
  wren-ai-service/src/web/v1/services/ask.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1630 fix(wren-ui): adjust replacement regex for including UTC, UTC+0, UTC+00:00
  wren-ui/src/components/chart/handler.ts
Labels: wren-ui

#1631 chore(wren-ai-service): improve error handling
  wren-ai-service/src/providers/engine/wren.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1632 chore: update ai image version (ai-env-changed)
  docker/.env.example
Labels: ai-env-changed

#1634 fix(wren-ui): optional chaining to prevent null in chart schema
  wren-ui/src/components/chart/handler.ts
Labels: launcher, wren-ui, ai-env-changed

#1640 chore(wren-ai-service): send empty data signal to langfuse
  wren-ai-service/src/web/v1/services/sql_answer.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1638 feat(wren-ui): Adjust SQL toolbar for View SQL
  wren-ui/src/components/code/BaseCodeBlock.tsx
  wren-ui/src/components/pages/home/promptThread/ViewSQLTabContent.tsx
Labels: wren-ui

#1642 fix(wren-ui): update Props for prompt component
  wren-ui/src/components/pages/home/prompt/index.tsx
Labels: wren-ui

#1647 chore(wren-ai-service): update query sql api endpoint
  wren-ai-service/eval/data_curation/utils.py
  wren-ai-service/eval/utils.py
  wren-ai-service/src/providers/engine/wren.py
  wren-ai-service/tests/pytest/eval/test_metrics.py
  wren-ai-service/tools/run_sql.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1658 fix(wren-ui): adjust client cron validation
  wren-ui/src/components/pages/home/dashboardGrid/CacheSettingsDrawer.tsx
  wren-ui/src/utils/validator/cronValidator.ts
Labels: wren-ui

#1660 fix(wren-ui): adjust manual cache refresh wording
  wren-ui/src/components/pages/home/dashboardGrid/CacheSettingsDrawer.tsx
Labels: wren-ui

#1668 feat(wren-ai-service): allow setting sql correction multiple times (ai-env-changed)
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  wren-ai-service/docs/config_examples/config.anthropic.yaml
  wren-ai-service/docs/config_examples/config.azure.yaml
  wren-ai-service/docs/config_examples/config.deepseek.yaml
  wren-ai-service/docs/config_examples/config.google_ai_studio.yaml
  wren-ai-service/docs/config_examples/config.grok.yaml
  wren-ai-service/docs/config_examples/config.groq.yaml
  wren-ai-service/docs/config_examples/config.lm_studio.yaml
  wren-ai-service/docs/config_examples/config.ollama.yaml
  wren-ai-service/docs/config_examples/config.open_router.yaml
  wren-ai-service/poetry.lock
  wren-ai-service/src/config.py
  wren-ai-service/src/globals.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/tests/pytest/test_usecases.py
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
Labels: module/ai-service, ci/ai-service, wren-ai-service, deployment, ai-env-changed

#1673 chore(wren-ui): extend reasoning text limit to 6000
  wren-ui/src/components/modals/AdjustReasoningStepsModal.tsx
  wren-ui/src/utils/error/dictionary.ts
Labels: wren-ui

#1675 fix(wren-ai-service): fix misconfiguraiton (ai-env-changed)
  docker/config.example.yaml
  wren-ai-service/tools/dev/docker-compose-dev.yaml
Labels: wren-ai-service, ai-env-changed

#1677 chore(wren-ai-service): fix config
  wren-ai-service/tools/dev/docker-compose-dev.yaml
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1672 refactor(wren-ui): setup datasource for better extension
  wren-ui/src/components/settings/DataSourceSettings.tsx
  wren-ui/src/hooks/useSetupConnection.tsx
  wren-ui/src/hooks/useSetupConnectionDataSource.tsx
  wren-ui/src/hooks/useSetupConnectionSampleDataset.tsx
Labels: wren-ui

#1695 chore(wren-ai-service): minor updates
  wren-ai-service/src/pipelines/generation/followup_sql_generation.py
  wren-ai-service/src/pipelines/generation/followup_sql_generation_reasoning.py
  wren-ai-service/src/pipelines/generation/intent_classification.py
  wren-ai-service/src/pipelines/generation/question_recommendation.py
  wren-ai-service/src/pipelines/generation/sql_generation.py
  wren-ai-service/src/pipelines/generation/sql_generation_reasoning.py
  wren-ai-service/src/pipelines/generation/sql_regeneration.py
  wren-ai-service/src/pipelines/generation/utils/sql.py
  wren-ai-service/src/web/v1/services/__init__.py
  wren-ai-service/src/web/v1/services/question_recommendation.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1697 chore(wren-ai-service): fix model usage using streaming
  wren-ai-service/src/providers/llm/__init__.py
Labels: module/ai-service, ci/ai-service, wren-ai-service
