Repository Canner/WrenAI, pull requests merged in 2025-03, with the labels that each got.

#1356 feat(wren-ai-service): Add invalid SQL tracking to AskResultResponse
  wren-ai-service/src/web/v1/services/ask.py
Labels: module/ai-service, ci/ai-service

#1362 feat(wren-ai-service): Rename Resource to Event and improve SQL Pairs API consistency
  wren-ai-service/src/web/v1/routers/sql_pairs.py
  wren-ai-service/src/web/v1/services/sql_pairs.py
Labels: module/ai-service, ci/ai-service

#1364 feat(wren-ai-service): Add trace ID propagation across service responses
  wren-ai-service/src/utils.py
  wren-ai-service/src/web/v1/routers/question_recommendation.py
  wren-ai-service/src/web/v1/routers/relationship_recommendation.py
  wren-ai-service/src/web/v1/routers/semantics_description.py
  wren-ai-service/src/web/v1/routers/sql_pairs.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/src/web/v1/services/ask_details.py
  wren-ai-service/src/web/v1/services/chart.py
  wren-ai-service/src/web/v1/services/chart_adjustment.py
  wren-ai-service/src/web/v1/services/question_recommendation.py
  wren-ai-service/src/web/v1/services/relationship_recommendation.py
  wren-ai-service/src/web/v1/services/semantics_description.py
  wren-ai-service/src/web/v1/services/sql_answer.py
  wren-ai-service/src/web/v1/services/sql_expansion.py
  wren-ai-service/src/web/v1/services/sql_pairs.py
  wren-ai-service/src/web/v1/services/sql_question.py
Labels: module/ai-service, ci/ai-service

#1371 chore(wren-ai-service): Introduce Model Aliases for Simplified Pipeline Configuration
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  wren-ai-service/docs/config_examples/config.azure.yaml
  wren-ai-service/docs/config_examples/config.deepseek.yaml
  wren-ai-service/docs/config_examples/config.google_ai_studio.yaml
  wren-ai-service/docs/config_examples/config.groq.yaml
  wren-ai-service/docs/config_examples/config.ollama.yaml
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
Labels: module/ai-service

#1385 fix(wren-ui): prevent stuck on text-based answer loading if when query data error
  wren-ui/src/apollo/server/backgrounds/textBasedAnswerBackgroundTracker.ts
  wren-ui/src/pages/home/[id].tsx
Labels: module/ui

#1386 chore(wren-ai-service): refine ollama sample config.yaml wording
  wren-ai-service/docs/config_examples/config.ollama.yaml
Labels: module/ai-service, ci/ai-service

#1389 chore(wren-ai-service): minor updates
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  wren-ai-service/docs/config_examples/config.azure.yaml
  wren-ai-service/docs/config_examples/config.deepseek.yaml
  wren-ai-service/docs/config_examples/config.google_ai_studio.yaml
  wren-ai-service/docs/config_examples/config.groq.yaml
  wren-ai-service/docs/config_examples/config.ollama.yaml
  wren-ai-service/src/config.py
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/retrieval/historical_question.py
  wren-ai-service/src/pipelines/retrieval/historical_question_retrieval.py
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
Labels: module/ai-service, ci/ai-service

#1396 chore(wren-ai-service): fix sql prompt
  wren-ai-service/src/web/v1/services/ask.py
Labels: module/ai-service, ci/ai-service

#1401 chore(wren-ai-service): fix security issue
  wren-ai-service/poetry.lock
Labels: module/ai-service, ci/ai-service

#1407 chore(wren-ai-service): add followup sql generation reasoning
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  wren-ai-service/docs/config_examples/config.azure.yaml
  wren-ai-service/docs/config_examples/config.deepseek.yaml
  wren-ai-service/docs/config_examples/config.google_ai_studio.yaml
  wren-ai-service/docs/config_examples/config.groq.yaml
  wren-ai-service/docs/config_examples/config.ollama.yaml
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/generation/__init__.py
  wren-ai-service/src/pipelines/generation/followup_sql_generation_reasoning.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
Labels: module/ai-service, ci/ai-service

#1415 chore(wren-ai-service): minor updates
  wren-ai-service/eval/pipelines.py
Labels: module/ai-service, ci/ai-service

#1388 feat(wren-ui): add reasoning api
  wren-ui/migrations/20250509000000_create_asking_task.js
  wren-ui/migrations/20250509000001_add_task_id_to_thread.js
  wren-ui/src/apollo/server/adaptors/wrenAIAdaptor.ts
  wren-ui/src/apollo/server/models/adaptor.ts
  wren-ui/src/apollo/server/repositories/askingTaskRepository.ts
  wren-ui/src/apollo/server/repositories/index.ts
  wren-ui/src/apollo/server/repositories/threadResponseRepository.ts
  wren-ui/src/apollo/server/resolvers.ts
  wren-ui/src/apollo/server/resolvers/askingResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/services/askingService.ts
  wren-ui/src/apollo/server/services/askingTaskTracker.ts
  wren-ui/src/apollo/server/services/index.ts
  wren-ui/src/apollo/server/telemetry/telemetry.ts
  wren-ui/src/apollo/server/utils/error.ts
  wren-ui/src/common.ts
Labels: wren-ui

#1422 chore(wren-ai-service): improve sql pairs and instructions
  wren-ai-service/src/pipelines/generation/followup_sql_generation.py
  wren-ai-service/src/pipelines/generation/followup_sql_generation_reasoning.py
  wren-ai-service/src/pipelines/generation/intent_classification.py
  wren-ai-service/src/pipelines/generation/sql_generation.py
  wren-ai-service/src/pipelines/generation/sql_generation_reasoning.py
  wren-ai-service/src/pipelines/generation/sql_regeneration.py
  wren-ai-service/src/pipelines/generation/utils/sql.py
  wren-ai-service/src/pipelines/retrieval/historical_question_retrieval.py
  wren-ai-service/src/pipelines/retrieval/retrieval.py
  wren-ai-service/src/pipelines/retrieval/sql_pairs_retrieval.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/src/web/v1/services/sql_explanation.py
  wren-ai-service/src/web/v1/services/sql_regeneration.py
  wren-ai-service/tests/pytest/services/mocks.py
  wren-ai-service/tests/pytest/services/test_ask.py
Labels: ci/ai-service, wren-ai-service

#1418 feat(wren-ui): enhancement question-SQL pairs
  wren-ui/public/images/learning/question-sql-pairs.png
  wren-ui/public/images/learning/save-to-knowledge.gif
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/sqlPairs.generated.ts
  wren-ui/src/apollo/client/graphql/sqlPairs.ts
  wren-ui/src/apollo/server/repositories/sqlPairRepository.ts
  wren-ui/src/apollo/server/resolvers.ts
  wren-ui/src/apollo/server/resolvers/sqlPairResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/services/sqlPairService.ts
  wren-ui/src/components/editor/CodeBlock.tsx
  wren-ui/src/components/learning/guide/stories.tsx
  wren-ui/src/components/pages/knowledge/SQLPairDrawer.tsx
  wren-ui/src/pages/knowledge/question-sql-pairs.tsx
  wren-ui/src/utils/time.ts
Labels: wren-ui

#1423 feat(wren-ai-service): Add SQL Pairs and Instructions Retrieval to Question Recommendation Service
  wren-ai-service/src/globals.py
  wren-ai-service/src/web/v1/routers/question_recommendation.py
  wren-ai-service/src/web/v1/services/question_recommendation.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1425 chore(wren-ai-service): minor updates
  wren-ai-service/eval/pipelines.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1414 feat(wren-ui): Reasoning UI
  wren-ui/public/images/icon/message-ai.svg
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/home.generated.ts
  wren-ui/src/apollo/client/graphql/home.ts
  wren-ui/src/components/PageLoading.tsx
  wren-ui/src/components/learning/index.tsx
  wren-ui/src/components/pages/home/preparation/ErrorBoundary.tsx
  wren-ui/src/components/pages/home/preparation/index.tsx
  wren-ui/src/components/pages/home/preparation/step/Generating.tsx
  wren-ui/src/components/pages/home/preparation/step/Organizing.tsx
  wren-ui/src/components/pages/home/preparation/step/Retrieving.tsx
  wren-ui/src/components/pages/home/prompt/Input.tsx
  wren-ui/src/components/pages/home/prompt/Result.tsx
  wren-ui/src/components/pages/home/prompt/index.tsx
  wren-ui/src/components/pages/home/promptThread/AnswerResult.tsx
  wren-ui/src/components/pages/home/promptThread/BreakdownAnswer.tsx
  wren-ui/src/components/pages/home/promptThread/ChartAnswer.tsx
  wren-ui/src/components/pages/home/promptThread/TextBasedAnswer.tsx
  wren-ui/src/components/pages/home/promptThread/index.tsx
  wren-ui/src/components/pages/home/promptThread/store.tsx
  wren-ui/src/hooks/useAskProcessState.tsx
  wren-ui/src/hooks/useAskPrompt.tsx
  wren-ui/src/hooks/useGlobalConfig.tsx
  wren-ui/src/hooks/useStoreContext.tsx
  wren-ui/src/pages/_app.tsx
  wren-ui/src/pages/home/[id].tsx
  wren-ui/src/pages/home/index.tsx
  wren-ui/src/styles/components/button.less
  wren-ui/src/utils/enum/home.ts
  wren-ui/src/utils/env.ts
  wren-ui/src/utils/telemetry.ts
Labels: wren-ui

#1424 feat(wren-ui): Use rephrasedQuestion for asking a question answer
  wren-ui/src/components/pages/home/promptThread/AnswerResult.tsx
Labels: wren-ui

#1420 feat(wren-ai-service): Add SQL Correction Service and API Endpoints
  wren-ai-service/src/globals.py
  wren-ai-service/src/web/v1/routers/__init__.py
  wren-ai-service/src/web/v1/routers/sql_corrections.py
  wren-ai-service/src/web/v1/services/__init__.py
  wren-ai-service/src/web/v1/services/instructions.py
  wren-ai-service/src/web/v1/services/sql_corrections.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1410 feat(wren-ai-service): Add SQL Functions Support in Query Generation Pipeline (ai-env-changed)
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  wren-ai-service/Justfile
  wren-ai-service/docs/config_examples/config.azure.yaml
  wren-ai-service/docs/config_examples/config.deepseek.yaml
  wren-ai-service/docs/config_examples/config.google_ai_studio.yaml
  wren-ai-service/docs/config_examples/config.groq.yaml
  wren-ai-service/docs/config_examples/config.ollama.yaml
  wren-ai-service/eval/preparation.py
  wren-ai-service/src/force_update_config.py
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/generation/followup_sql_generation.py
  wren-ai-service/src/pipelines/generation/sql_generation.py
  wren-ai-service/src/pipelines/generation/utils/sql.py
  wren-ai-service/src/pipelines/indexing/__init__.py
  wren-ai-service/src/pipelines/indexing/db_schema.py
  wren-ai-service/src/pipelines/indexing/project_meta.py
  wren-ai-service/src/pipelines/indexing/utils/helper.py
  wren-ai-service/src/pipelines/retrieval/__init__.py
  wren-ai-service/src/pipelines/retrieval/sql_functions.py
  wren-ai-service/src/providers/engine/wren.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/src/web/v1/services/semantics_preparation.py
  wren-ai-service/tests/pytest/pipelines/indexing/test_helper.py
  wren-ai-service/tests/pytest/pipelines/retrieval/sql_function.py
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
Labels: module/ai-service, ci/ai-service, wren-ai-service, deployment, ai-env-changed

#1431 release 0.17.0-rc.1 (ai-env-changed)
  docker/.env.example
  wren-launcher/utils/docker.go
Labels: launcher, ai-env-changed

#1432 chore(wren-ai-service): minor updates
  wren-ai-service/Justfile
  wren-ai-service/README.md
  wren-ai-service/demo/utils.py
  wren-ai-service/eval/preparation.py
  wren-ai-service/pyproject.toml
  wren-ai-service/src/force_deploy.py
  wren-ai-service/src/force_update_config.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1436 fix(wren-ai-service): Update SqlExpansionRequest to support multiple histories
  wren-ai-service/src/web/v1/services/sql_expansion.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1427 chore(wren-ai-service): Add Bird dataset support and enhance configuration documentation
  wren-ai-service/eval/README.md
Labels: module/ai-service, wren-ai-service

#1437 fix(wren-ai-service): change id to project_id
  wren-ai-service/src/web/v1/services/sql_expansion.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1439 chore(wren-ai-service): minor updates
  wren-ai-service/eval/__init__.py
  wren-ai-service/eval/pipelines.py
  wren-ai-service/eval/utils.py
  wren-ai-service/src/pipelines/retrieval/sql_functions.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1440 release 0.17.0-rc.2 (ai-env-changed)
  docker/.env.example
  wren-launcher/utils/docker.go
Labels: launcher, ai-env-changed

#1443 fix(wren-ui): add margin to tag in retrieving
  wren-ui/src/components/pages/home/preparation/step/Retrieving.tsx
Labels: wren-ui

#1444 release 0.17.0-rc.3 (ai-env-changed)
  docker/.env.example
  wren-launcher/utils/docker.go
Labels: launcher, ai-env-changed

#1445 release 0.17.0 (ai-env-changed)
  docker/.env.example
  wren-launcher/utils/docker.go
Labels: launcher, ai-env-changed

#1453 fix(wren-ui): fix language for generate question for SQL pairs
  wren-ui/src/apollo/server/adaptors/wrenAIAdaptor.ts
  wren-ui/src/apollo/server/services/sqlPairService.ts
Labels: wren-ui

#1433 feat(wren-ui): Integrate API to implement instructions UI
  wren-ui/public/images/learning/instructions.png
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/instructions.generated.ts
  wren-ui/src/apollo/client/graphql/instructions.ts
  wren-ui/src/apollo/server/services/instructionService.ts
  wren-ui/src/components/diagram/CustomDropdown.tsx
  wren-ui/src/components/learning/guide/stories.tsx
  wren-ui/src/components/learning/guide/utils.ts
  wren-ui/src/components/learning/index.tsx
  wren-ui/src/components/modals/DeleteModal.tsx
  wren-ui/src/components/modals/InstructionModal.tsx
  wren-ui/src/components/modals/QuestionSQLPairModal.tsx
  wren-ui/src/components/pages/home/promptThread/AnswerResult.tsx
  wren-ui/src/components/pages/knowledge/GlobalLabel.tsx
  wren-ui/src/components/pages/knowledge/InstructionDrawer.tsx
  wren-ui/src/components/pages/knowledge/SQLPairDrawer.tsx
  wren-ui/src/components/pages/knowledge/utils.tsx
  wren-ui/src/components/settings/utils.tsx
  wren-ui/src/components/sidebar/Knowledge.tsx
  wren-ui/src/components/sidebar/SidebarMenu.tsx
  wren-ui/src/pages/knowledge/instructions.tsx
  wren-ui/src/pages/knowledge/question-sql-pairs.tsx
  wren-ui/src/utils/enum/index.ts
  wren-ui/src/utils/enum/knowledge.ts
  wren-ui/src/utils/enum/modeling.ts
  wren-ui/src/utils/enum/path.ts
  wren-ui/src/utils/error/dictionary.ts
  wren-ui/src/utils/errorHandler.tsx
  wren-ui/src/utils/svgs/InstructionsSVG.tsx
  wren-ui/src/utils/svgs/index.ts
Labels: wren-ui

#1452 fix(wren-ai-service): allow sql generation reasoning streaming in followup asking
  wren-ai-service/src/pipelines/generation/followup_sql_generation_reasoning.py
  wren-ai-service/src/pipelines/generation/sql_generation_reasoning.py
  wren-ai-service/src/web/v1/services/ask.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1469 fix(wren-ai-service): fix sql expansion latency and retrieval issue
  wren-ai-service/src/globals.py
  wren-ai-service/src/web/v1/services/sql_expansion.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1470 chore(wren-ai-service): minor updates
  wren-ai-service/Justfile
  wren-ai-service/src/pipelines/retrieval/historical_question_retrieval.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/tests/pytest/test_usecases.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1451 feat(wren-ui): Fix SQL flow in reasoning
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/home.generated.ts
  wren-ui/src/apollo/client/graphql/home.ts
  wren-ui/src/apollo/server/adaptors/wrenAIAdaptor.ts
  wren-ui/src/apollo/server/resolvers.ts
  wren-ui/src/apollo/server/resolvers/askingResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/services/askingService.ts
  wren-ui/src/components/ErrorCollapse.tsx
  wren-ui/src/components/modals/FixSQLModal.tsx
  wren-ui/src/components/modals/QuestionSQLPairModal.tsx
  wren-ui/src/components/pages/home/preparation/ErrorBoundary.tsx
  wren-ui/src/components/pages/home/preparation/PreparationStatus.tsx
  wren-ui/src/components/pages/home/preparation/PreparationSteps.tsx
  wren-ui/src/components/pages/home/preparation/index.tsx
  wren-ui/src/components/pages/home/preparation/step/FixedSQLFinished.tsx
  wren-ui/src/components/pages/home/preparation/step/Organizing.tsx
  wren-ui/src/components/pages/home/preparation/step/ViewFinished.tsx
  wren-ui/src/components/pages/home/promptThread/AnswerResult.tsx
  wren-ui/src/components/pages/home/promptThread/store.tsx
  wren-ui/src/pages/home/[id].tsx
  wren-ui/src/styles/components/button.less
  wren-ui/src/utils/error/dictionary.ts
  wren-ui/src/utils/errorHandler.tsx
  wren-ui/src/utils/helper.ts
Labels: wren-ui

#1471 feat(wren-ui): Reasoning enhancement & SQL pair in asking flow
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/home.generated.ts
  wren-ui/src/apollo/client/graphql/home.ts
  wren-ui/src/apollo/server/adaptors/wrenAIAdaptor.ts
  wren-ui/src/apollo/server/models/adaptor.ts
  wren-ui/src/apollo/server/resolvers/askingResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/components/pages/home/preparation/PreparationStatus.tsx
  wren-ui/src/components/pages/home/preparation/PreparationSteps.tsx
  wren-ui/src/components/pages/home/preparation/index.tsx
  wren-ui/src/components/pages/home/preparation/step/SQLPairFinished.tsx
  wren-ui/src/components/pages/home/prompt/Result.tsx
  wren-ui/src/components/pages/home/promptThread/AnswerResult.tsx
  wren-ui/src/pages/home/index.tsx
Labels: wren-ui

#1473 fix(wren-ui): allow process state transition skipped when understanding
  wren-ui/src/components/pages/home/prompt/Result.tsx
  wren-ui/src/hooks/useAskProcessState.tsx
Labels: wren-ui

#1472 Release 0.18.0-rc.1 (ai-env-changed)
  docker/.env.example
  wren-launcher/utils/docker.go
Labels: launcher, ai-env-changed

#1479 feat(wren-ui): add adjust the answer dropdown for answer tab
  wren-ui/src/components/diagram/CustomDropdown.tsx
  wren-ui/src/components/pages/home/promptThread/TextBasedAnswer.tsx
  wren-ui/src/hooks/useDropdown.tsx
  wren-ui/src/utils/enum/dropdown.ts
  wren-ui/src/utils/enum/index.ts
  wren-ui/src/utils/enum/modeling.ts
  wren-ui/src/utils/svgs/EditSVG.tsx
  wren-ui/src/utils/svgs/index.ts
Labels: wren-ui

#1480 fix(wren-ai-service): fix global instructions indexing issue
  wren-ai-service/src/pipelines/indexing/instructions.py
  wren-ai-service/src/web/v1/services/instructions.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1481 Release 0.18.0-rc.2 (ai-env-changed)
  docker/.env.example
  wren-launcher/utils/docker.go
Labels: launcher, ai-env-changed

#1482 fix(wren-ui): correct generate instruction request payload
  wren-ui/src/apollo/server/adaptors/wrenAIAdaptor.ts
Labels: wren-ui

#1483 release 0.18.0-rc.3 (ai-env-changed)
  docker/.env.example
  wren-launcher/utils/docker.go
Labels: launcher, ai-env-changed

#1489 fix(wren-ai-service): delete instructions
  wren-ai-service/src/pipelines/indexing/instructions.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1488 fix(wren-ui): separate instant recommend questions to new effect
  wren-ui/src/hooks/useAskPrompt.tsx
Labels: wren-ui

#1490 fix(wren-ui): delete semantics when reseting project
  .gitignore
  wren-ui/src/apollo/server/adaptors/wrenAIAdaptor.ts
  wren-ui/src/apollo/server/resolvers/projectResolver.ts
Labels: wren-ui

#1492 Release 0.18.0-rc.4 (ai-env-changed)
  docker/.env.example
  wren-launcher/utils/docker.go
Labels: launcher, ai-env-changed

#1493 release 0.18.0 (ai-env-changed)
  docker/.env.example
  wren-launcher/utils/docker.go
Labels: launcher, ai-env-changed
