Repository Canner/WrenAI, pull requests merged in 2025-04, with the labels that each got.

#1503 chore(wren-ai-service): minor updates
  wren-ai-service/src/pipelines/generation/followup_sql_generation_reasoning.py
  wren-ai-service/src/pipelines/generation/sql_generation_reasoning.py
  wren-ai-service/src/web/v1/services/ask.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1504 feat(wren-ui): Add adjust reasoning steps model with Markdown editor
  wren-ui/src/components/editor/MarkdownBlock.tsx
  wren-ui/src/components/editor/MarkdownEditor.tsx
  wren-ui/src/components/modals/AdjustReasoningStepsModal.tsx
  wren-ui/src/components/pages/home/promptThread/BreakdownAnswer.tsx
  wren-ui/src/components/pages/home/promptThread/ChartAnswer.tsx
  wren-ui/src/components/pages/home/promptThread/TextBasedAnswer.tsx
  wren-ui/src/components/pages/home/promptThread/store.tsx
  wren-ui/src/hooks/useMentions.tsx
  wren-ui/src/pages/home/[id].tsx
  wren-ui/src/utils/error/dictionary.ts
Labels: wren-ui

#1484 feat(wren-ui): Update View SQL tab content and add adjust SQL UI
  wren-ui/src/components/editor/CodeBlock.tsx
  wren-ui/src/components/modals/AdjustSQLModal.tsx
  wren-ui/src/components/pages/home/promptThread/AnswerResult.tsx
  wren-ui/src/components/pages/home/promptThread/BreakdownAnswer.tsx
  wren-ui/src/components/pages/home/promptThread/CollapseContent.tsx
  wren-ui/src/components/pages/home/promptThread/StepContent.tsx
  wren-ui/src/components/pages/home/promptThread/TextBasedAnswer.tsx
  wren-ui/src/components/pages/home/promptThread/ViewSQLTabContent.tsx
  wren-ui/src/components/pages/home/promptThread/store.tsx
  wren-ui/src/hooks/useAnswerStepContent.tsx
  wren-ui/src/pages/home/[id].tsx
Labels: wren-ui

#1508 chore(wren-ai-service): improve relationship recommendation
  wren-ai-service/src/pipelines/generation/relationship_recommendation.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1509 chore(wren-ai-service): fix security issue
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1505 chore(wren-ui): format invalidSql for better experience in fixing
  wren-ui/src/apollo/server/resolvers/askingResolver.ts
Labels: wren-ui

#1501 feat(wren-ui): adjustment API (ai-env-changed)
  .github/workflows/create-rc-release-pr.yaml
  .github/workflows/create-rc-release.yaml
  .github/workflows/ui-release-image-stable.yaml
  .gitignore
  docker/.env.example
  wren-ai-service/pyproject.toml
  wren-ai-service/src/pipelines/indexing/instructions.py
  wren-ai-service/src/web/v1/services/instructions.py
  wren-launcher/Makefile
  wren-launcher/utils/docker.go
  wren-ui/migrations/20250510000000_add_adjustment_to_thread_response.js
  wren-ui/package.json
  wren-ui/src/apollo/server/adaptors/wrenAIAdaptor.ts
  wren-ui/src/apollo/server/adaptors/wrenEngineAdaptor.ts
  wren-ui/src/apollo/server/backgrounds/adjustmentBackgroundTracker.ts
  wren-ui/src/apollo/server/backgrounds/index.ts
  wren-ui/src/apollo/server/models/adaptor.ts
  wren-ui/src/apollo/server/models/model.ts
  wren-ui/src/apollo/server/repositories/askingTaskRepository.ts
  wren-ui/src/apollo/server/repositories/threadResponseRepository.ts
  wren-ui/src/apollo/server/resolvers.ts
  wren-ui/src/apollo/server/resolvers/askingResolver.ts
  wren-ui/src/apollo/server/resolvers/modelResolver.ts
  wren-ui/src/apollo/server/resolvers/projectResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/services/askingService.ts
  wren-ui/src/apollo/server/services/askingTaskTracker.ts
  wren-ui/src/apollo/server/telemetry/telemetry.ts
  wren-ui/src/apollo/server/utils/error.ts
  wren-ui/src/common.ts
  wren-ui/src/hooks/useAskPrompt.tsx
Labels: launcher, wren-ui, wren-ai-service, ai-env-changed

#1507 feat(wren-ui): Adjust steps integration
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/home.generated.ts
  wren-ui/src/apollo/client/graphql/home.ts
  wren-ui/src/components/diagram/CustomDropdown.tsx
  wren-ui/src/components/modals/AdjustReasoningStepsModal.tsx
  wren-ui/src/components/pages/home/preparation/PreparationStatus.tsx
  wren-ui/src/components/pages/home/preparation/PreparationSteps.tsx
  wren-ui/src/components/pages/home/preparation/index.tsx
  wren-ui/src/components/pages/home/preparation/step/Organizing.tsx
  wren-ui/src/components/pages/home/preparation/step/Retrieving.tsx
  wren-ui/src/components/pages/home/promptThread/AnswerResult.tsx
  wren-ui/src/components/pages/home/promptThread/TextBasedAnswer.tsx
  wren-ui/src/components/pages/home/promptThread/index.tsx
  wren-ui/src/components/pages/home/promptThread/store.tsx
  wren-ui/src/hooks/useAdjustAnswer.tsx
  wren-ui/src/hooks/useAskPrompt.tsx
  wren-ui/src/pages/home/[id].tsx
Labels: wren-ui

#1506 feat(wren-ui): Integrate adjust SQL API
  wren-ui/src/apollo/client/graphql/home.generated.ts
  wren-ui/src/apollo/client/graphql/home.ts
  wren-ui/src/components/modals/AdjustSQLModal.tsx
  wren-ui/src/components/pages/home/promptThread/AnswerResult.tsx
  wren-ui/src/components/pages/home/promptThread/TextBasedAnswer.tsx
  wren-ui/src/components/pages/home/promptThread/ViewSQLTabContent.tsx
  wren-ui/src/components/pages/home/promptThread/store.tsx
  wren-ui/src/hooks/useAdjustAnswer.tsx
  wren-ui/src/pages/home/[id].tsx
  wren-ui/src/utils/errorHandler.tsx
Labels: wren-ui

#1512 epic(wren-ui): Adjust thread response answer
  wren-ui/migrations/20250510000000_add_adjustment_to_thread_response.js
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/home.generated.ts
  wren-ui/src/apollo/client/graphql/home.ts
  wren-ui/src/apollo/server/adaptors/wrenAIAdaptor.ts
  wren-ui/src/apollo/server/adaptors/wrenEngineAdaptor.ts
  wren-ui/src/apollo/server/backgrounds/adjustmentBackgroundTracker.ts
  wren-ui/src/apollo/server/backgrounds/index.ts
  wren-ui/src/apollo/server/models/adaptor.ts
  wren-ui/src/apollo/server/models/model.ts
  wren-ui/src/apollo/server/repositories/askingTaskRepository.ts
  wren-ui/src/apollo/server/repositories/threadResponseRepository.ts
  wren-ui/src/apollo/server/resolvers.ts
  wren-ui/src/apollo/server/resolvers/askingResolver.ts
  wren-ui/src/apollo/server/resolvers/modelResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/services/askingService.ts
  wren-ui/src/apollo/server/services/askingTaskTracker.ts
  wren-ui/src/apollo/server/telemetry/telemetry.ts
  wren-ui/src/apollo/server/utils/error.ts
  wren-ui/src/common.ts
  wren-ui/src/components/diagram/CustomDropdown.tsx
  wren-ui/src/components/editor/CodeBlock.tsx
  wren-ui/src/components/editor/MarkdownBlock.tsx
  wren-ui/src/components/editor/MarkdownEditor.tsx
  wren-ui/src/components/modals/AdjustReasoningStepsModal.tsx
  wren-ui/src/components/modals/AdjustSQLModal.tsx
  wren-ui/src/components/pages/home/preparation/PreparationStatus.tsx
  wren-ui/src/components/pages/home/preparation/PreparationSteps.tsx
  wren-ui/src/components/pages/home/preparation/index.tsx
  wren-ui/src/components/pages/home/preparation/step/Organizing.tsx
  wren-ui/src/components/pages/home/preparation/step/Retrieving.tsx
  wren-ui/src/components/pages/home/promptThread/AnswerResult.tsx
  wren-ui/src/components/pages/home/promptThread/BreakdownAnswer.tsx
  wren-ui/src/components/pages/home/promptThread/ChartAnswer.tsx
  wren-ui/src/components/pages/home/promptThread/CollapseContent.tsx
  wren-ui/src/components/pages/home/promptThread/StepContent.tsx
  wren-ui/src/components/pages/home/promptThread/TextBasedAnswer.tsx
  wren-ui/src/components/pages/home/promptThread/ViewSQLTabContent.tsx
  wren-ui/src/components/pages/home/promptThread/index.tsx
  wren-ui/src/components/pages/home/promptThread/store.tsx
  wren-ui/src/hooks/useAdjustAnswer.tsx
  wren-ui/src/hooks/useAnswerStepContent.tsx
  wren-ui/src/hooks/useAskPrompt.tsx
  wren-ui/src/hooks/useDropdown.tsx
  wren-ui/src/hooks/useMentions.tsx
  wren-ui/src/pages/home/[id].tsx
  wren-ui/src/utils/enum/dropdown.ts
  wren-ui/src/utils/enum/index.ts
  wren-ui/src/utils/enum/modeling.ts
  wren-ui/src/utils/error/dictionary.ts
  wren-ui/src/utils/errorHandler.tsx
  wren-ui/src/utils/svgs/EditSVG.tsx
  wren-ui/src/utils/svgs/index.ts
Labels: wren-ui

#1516 fix(wren-ui): adjust steps issues
  wren-ui/src/apollo/server/backgrounds/adjustmentBackgroundTracker.ts
  wren-ui/src/components/modals/AdjustReasoningStepsModal.tsx
Labels: wren-ui

#1517 fix(wren-ui): allow to adjust the answer if generating a text answer fails
  wren-ui/src/components/diagram/CustomDropdown.tsx
  wren-ui/src/components/pages/home/promptThread/TextBasedAnswer.tsx
Labels: wren-ui

#1519 release 0.19.0 (ai-env-changed)
  docker/.env.example
  wren-launcher/utils/docker.go
Labels: launcher, ai-env-changed

#1520 chore(wren-ai-service): minor updates
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
  wren-ai-service/src/providers/document_store/qdrant.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1522 release 0.19.1 (ai-env-changed)
  docker/.env.example
  wren-launcher/utils/docker.go
Labels: launcher, ai-env-changed

#1527 chore(wren-ai-service): add lm_studio config yaml
  wren-ai-service/docs/config_examples/config.lm_studio.yaml
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1531 chore(wren-ai-service): remove redundant code for llm streaming generation config
  wren-ai-service/src/pipelines/generation/data_assistance.py
  wren-ai-service/src/pipelines/generation/followup_sql_generation_reasoning.py
  wren-ai-service/src/pipelines/generation/sql_answer.py
  wren-ai-service/src/pipelines/generation/sql_generation_reasoning.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1536 chore(wren-ai-service): remove sql pair in historical question
  wren-ai-service/src/pipelines/retrieval/historical_question_retrieval.py
  wren-ai-service/src/web/v1/services/ask.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1535 fix(wren-ui): change to responses length to trigger scrolling bottom
  wren-ui/src/components/pages/home/promptThread/index.tsx
Labels: wren-ui

#1544 chore(wren-ai-service): improve follow-up ask experience
  wren-ai-service/src/config.py
  wren-ai-service/src/pipelines/generation/data_assistance.py
  wren-ai-service/src/pipelines/generation/followup_sql_generation.py
  wren-ai-service/src/pipelines/generation/followup_sql_generation_reasoning.py
  wren-ai-service/src/pipelines/generation/intent_classification.py
  wren-ai-service/src/pipelines/generation/misleading_assistance.py
  wren-ai-service/src/pipelines/generation/utils/sql.py
  wren-ai-service/src/pipelines/retrieval/retrieval.py
  wren-ai-service/src/providers/llm/litellm.py
  wren-ai-service/src/providers/llm/openai.py
  wren-ai-service/src/web/v1/services/ask.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1549 chore(wren-ai-service): minor updates (ai-env-changed)
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  wren-ai-service/src/pipelines/generation/followup_sql_generation_reasoning.py
  wren-ai-service/src/pipelines/generation/sql_generation_reasoning.py
  wren-ai-service/src/pipelines/generation/utils/sql.py
  wren-ai-service/src/pipelines/retrieval/sql_functions.py
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
  wren-launcher/commands/launch.go
  wren-launcher/utils/docker.go
Labels: module/ai-service, ci/ai-service, launcher, wren-ai-service, deployment, ai-env-changed

#1552 release oss: 0.19.2 (ai-env-changed)
  docker/.env.example
  wren-launcher/utils/docker.go
Labels: launcher, ai-env-changed

#1528 feat: provide origin question and returning invalid sql when adjusting
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/home.generated.ts
  wren-ui/src/apollo/client/graphql/home.ts
  wren-ui/src/apollo/server/adaptors/wrenAIAdaptor.ts
  wren-ui/src/apollo/server/backgrounds/adjustmentBackgroundTracker.ts
  wren-ui/src/apollo/server/models/adaptor.ts
  wren-ui/src/apollo/server/resolvers/askingResolver.ts
  wren-ui/src/apollo/server/schema.ts
Labels: wren-ui

#1526 [DON'T MERGE] chore(wren-ai-srvice): add instructions, sql pairs, sql functions to adjust sql
  wren-ai-service/src/pipelines/generation/sql_regeneration.py
  wren-ai-service/src/web/v1/services/ask.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1557 chore(wren-ai-service): remove ask details related code (ai-env-changed)
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  wren-ai-service/docs/config_examples/config.anthropic.yaml
  wren-ai-service/docs/config_examples/config.azure.yaml
  wren-ai-service/docs/config_examples/config.deepseek.yaml
  wren-ai-service/docs/config_examples/config.google_ai_studio.yaml
  wren-ai-service/docs/config_examples/config.grok.yaml
  wren-ai-service/docs/config_examples/config.groq.yaml
  wren-ai-service/docs/config_examples/config.lm_studio.yaml
  wren-ai-service/docs/config_examples/config.ollama.yaml
  wren-ai-service/eval/llm_trace_analysis/notebook.ipynb
  wren-ai-service/eval/llm_trace_analysis/report_gen.py
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/generation/__init__.py
  wren-ai-service/src/pipelines/generation/sql_breakdown.py
  wren-ai-service/src/pipelines/generation/utils/sql.py
  wren-ai-service/src/web/v1/routers/__init__.py
  wren-ai-service/src/web/v1/routers/ask_details.py
  wren-ai-service/src/web/v1/services/__init__.py
  wren-ai-service/src/web/v1/services/ask_details.py
  wren-ai-service/src/web/v1/services/sql_expansion.py
  wren-ai-service/tests/data/config.test.yaml
  wren-ai-service/tests/locust/locustfile.py
  wren-ai-service/tests/pytest/pipelines/generation/test_ask.py
  wren-ai-service/tests/pytest/pipelines/generation/test_ask_details.py
  wren-ai-service/tests/pytest/services/test_ask_details.py
  wren-ai-service/tests/pytest/test_main.py
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
Labels: module/ai-service, ci/ai-service, wren-ai-service, deployment, ai-env-changed

#1563 chore: refine service version settings in kustomization.yaml
  deployment/kustomizations/kustomization.yaml
Labels: deployment

#1567 chore(wren-ai-service): remove demo
  .gitignore
  wren-ai-service/Justfile
  wren-ai-service/README.md
  wren-ai-service/demo/app.py
  wren-ai-service/demo/run_sql.py
  wren-ai-service/demo/sample_dataset/ecommerce_duckdb_mdl.json
  wren-ai-service/demo/sample_dataset/hr_duckdb_mdl.json
  wren-ai-service/demo/utils.py
  wren-ai-service/src/__main__.py
  wren-ai-service/tests/pytest/test_usecases.py
  wren-ai-service/tools/.env.example
  wren-ai-service/tools/run_sql.py
Labels: wren-ai-service

#1553 feat(wren-ui): Import from data source SQL
  CONTRIBUTING.md
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/sql.generated.ts
  wren-ui/src/apollo/client/graphql/sql.ts
  wren-ui/src/components/editor/MarkdownEditor.tsx
  wren-ui/src/components/editor/SQLEditor.tsx
  wren-ui/src/components/modals/AdjustReasoningStepsModal.tsx
  wren-ui/src/components/modals/AdjustSQLModal.tsx
  wren-ui/src/components/modals/FixSQLModal.tsx
  wren-ui/src/components/modals/ImportDataSourceSQLModal.tsx
  wren-ui/src/components/modals/QuestionSQLPairModal.tsx
  wren-ui/src/components/pages/setup/ConnectDataSource.tsx
  wren-ui/src/components/pages/setup/utils.tsx
  wren-ui/src/hooks/useAutoComplete.tsx
  wren-ui/src/hooks/useMentions.tsx
  wren-ui/src/utils/dataSourceType.ts
  wren-ui/src/utils/enum/dataSources.ts
  wren-ui/src/utils/error/dictionary.ts
Labels: wren-ui

#1539 feat(wren-ui): support generate wren sql from dialect sql
  CONTRIBUTING.md
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/sql.generated.ts
  wren-ui/src/apollo/client/graphql/sql.ts
  wren-ui/src/apollo/server/adaptors/ibisAdaptor.ts
  wren-ui/src/apollo/server/adaptors/tests/ibisAdaptor.test.ts
  wren-ui/src/apollo/server/models/adaptor.ts
  wren-ui/src/apollo/server/resolvers.ts
  wren-ui/src/apollo/server/resolvers/sqlPairResolver.ts
  wren-ui/src/apollo/server/scalars.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/services/modelService.ts
  wren-ui/src/apollo/server/services/sqlPairService.ts
  wren-ui/src/apollo/server/utils/helper.ts
  wren-ui/src/common.ts
  wren-ui/src/components/editor/MarkdownEditor.tsx
  wren-ui/src/components/editor/SQLEditor.tsx
  wren-ui/src/components/modals/AdjustReasoningStepsModal.tsx
  wren-ui/src/components/modals/AdjustSQLModal.tsx
  wren-ui/src/components/modals/FixSQLModal.tsx
  wren-ui/src/components/modals/ImportDataSourceSQLModal.tsx
  wren-ui/src/components/modals/QuestionSQLPairModal.tsx
  wren-ui/src/components/pages/setup/ConnectDataSource.tsx
  wren-ui/src/components/pages/setup/utils.tsx
  wren-ui/src/hooks/useAutoComplete.tsx
  wren-ui/src/hooks/useMentions.tsx
  wren-ui/src/utils/dataSourceType.ts
  wren-ui/src/utils/enum/dataSources.ts
  wren-ui/src/utils/error/dictionary.ts
Labels: wren-ui

#1564 feat(wren-ui): Support editable chart titles in dashboard item
  wren-ui/migrations/20250510000001_alter_dashboard_item_table.js
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/dashboard.generated.ts
  wren-ui/src/apollo/client/graphql/dashboard.ts
  wren-ui/src/apollo/server/repositories/dashboardItemRepository.ts
  wren-ui/src/apollo/server/resolvers.ts
  wren-ui/src/apollo/server/resolvers/dashboardResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/services/dashboardService.ts
  wren-ui/src/components/EditableWrapper.tsx
  wren-ui/src/components/EllipsisWrapper.tsx
  wren-ui/src/components/pages/home/dashboardGrid/index.tsx
  wren-ui/src/utils/errorHandler.tsx
Labels: wren-ui

#1560 chore(wren-ui): Reduce Antd bundle size
  wren-ui/next.config.js
  wren-ui/package.json
  wren-ui/src/components/pages/home/promptThread/ChartAnswer.tsx
  wren-ui/src/components/pages/setup/ButtonItem.tsx
  wren-ui/src/components/pages/setup/utils.tsx
  wren-ui/src/components/sidebar/modeling/GroupTreeTitle.tsx
  wren-ui/src/components/table/MultiSelectBox.tsx
  wren-ui/src/hooks/useRecommendedQuestionsInstruction.tsx
  wren-ui/src/import/antd.ts
  wren-ui/src/import/icon.ts
  wren-ui/yarn.lock
Labels: wren-ui

#1571 fix(wren-ui): DuckDb image path case-sensitive & adjust retrieving models text
  wren-ui/src/components/pages/home/preparation/step/Retrieving.tsx
  wren-ui/src/utils/dataSourceType.ts
Labels: wren-ui

#1572 fix(wren-ui): fix format mssql error
  wren-ui/src/apollo/server/resolvers/modelResolver.ts
Labels: wren-ui

#1573 fix(wren-ui): add loading to import data source SQL syntax modal
  wren-ui/src/components/modals/ImportDataSourceSQLModal.tsx
Labels: wren-ui

#1574 chore(wren-ui): enhance model substitution error message
  wren-ui/src/apollo/server/adaptors/ibisAdaptor.ts
  wren-ui/src/apollo/server/adaptors/tests/ibisAdaptor.test.ts
Labels: wren-ui

#1576 release 0.20.0 (ai-env-changed)
  docker/.env.example
  wren-launcher/utils/docker.go
Labels: launcher, ai-env-changed

#1577 chore(wren-launcher): minor-updates (ai-env-changed)
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
  wren-launcher/Makefile
  wren-launcher/commands/launch.go
  wren-launcher/config/config.go
  wren-launcher/utils/docker.go
Labels: launcher, wren-ai-service, deployment, ai-env-changed

#1586 chore(wren-ai-service): allow ignore sql generation reasoning in api
  wren-ai-service/src/web/v1/services/ask.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1595 chore(wren-ai-service): improve prompts
  wren-ai-service/src/pipelines/generation/data_assistance.py
  wren-ai-service/src/pipelines/generation/intent_classification.py
  wren-ai-service/src/pipelines/generation/misleading_assistance.py
  wren-ai-service/src/pipelines/generation/user_guide_assistance.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1601 Update APIManagement.tsx
  wren-ui/src/components/sidebar/APIManagement.tsx
Labels: wren-ui

#1610 chore(wren-ai-service): fix security issue
  wren-ai-service/poetry.lock
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1615 fix(wren-launcher): upgrade docker package to resolve vulnerability issue
  wren-launcher/go.mod
  wren-launcher/go.sum
Labels: launcher

#1599 feat(wren-ui): Integrate dashboard cache APIs
  wren-ui/package.json
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/dashboard.generated.ts
  wren-ui/src/apollo/client/graphql/dashboard.ts
  wren-ui/src/components/diagram/CustomDropdown.tsx
  wren-ui/src/components/pages/home/dashboardGrid/CacheSettingsDrawer.tsx
  wren-ui/src/components/pages/home/dashboardGrid/DashboardHeader.tsx
  wren-ui/src/components/pages/home/dashboardGrid/index.tsx
  wren-ui/src/pages/home/dashboard.tsx
  wren-ui/src/utils/errorHandler.tsx
Labels: wren-ui

#1594 feat(wren-ui): support cache dashboard item
  wren-ui/migrations/20250422000000_alter_dashboard_table.js
  wren-ui/migrations/20250423000000_create_dashboard_cache_refresh_table.js
  wren-ui/package.json
  wren-ui/src/apollo/client/graphql/__types__.ts
  wren-ui/src/apollo/client/graphql/dashboard.generated.ts
  wren-ui/src/apollo/client/graphql/dashboard.ts
  wren-ui/src/apollo/server/adaptors/ibisAdaptor.ts
  wren-ui/src/apollo/server/adaptors/tests/ibisAdaptor.test.ts
  wren-ui/src/apollo/server/backgrounds/dashboardCacheBackgroundTracker.ts
  wren-ui/src/apollo/server/backgrounds/index.ts
  wren-ui/src/apollo/server/models/dashboard.ts
  wren-ui/src/apollo/server/models/index.ts
  wren-ui/src/apollo/server/repositories/dashboardItemRefreshJobRepository.ts
  wren-ui/src/apollo/server/repositories/dashboardRepository.ts
  wren-ui/src/apollo/server/repositories/index.ts
  wren-ui/src/apollo/server/resolvers.ts
  wren-ui/src/apollo/server/resolvers/dashboardResolver.ts
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/services/dashboardService.ts
  wren-ui/src/apollo/server/services/queryService.ts
  wren-ui/src/apollo/server/services/tests/dashboardService.test.ts
  wren-ui/src/apollo/server/types/context.ts
  wren-ui/src/apollo/server/utils/timezone.ts
  wren-ui/src/common.ts
  wren-ui/src/components/diagram/CustomDropdown.tsx
  wren-ui/src/components/pages/home/dashboardGrid/CacheSettingsDrawer.tsx
  wren-ui/src/components/pages/home/dashboardGrid/DashboardHeader.tsx
  wren-ui/src/components/pages/home/dashboardGrid/index.tsx
  wren-ui/src/import/antd.ts
  wren-ui/src/pages/api/graphql.ts
  wren-ui/src/pages/home/dashboard.tsx
  wren-ui/src/styles/antd-variables.less
  wren-ui/src/utils/enum/dropdown.ts
  wren-ui/src/utils/error/dictionary.ts
  wren-ui/src/utils/errorHandler.tsx
  wren-ui/src/utils/time.ts
  wren-ui/src/utils/validator/cronValidator.ts
  wren-ui/src/utils/validator/index.ts
  wren-ui/yarn.lock
Labels: wren-ui

#1614 chore(wren-ai-service): add enable_column_pruning to ask api (ai-env-changed)
  deployment/kustomizations/base/cm.yaml
  docker/config.example.yaml
  wren-ai-service/docs/config_examples/config.anthropic.yaml
  wren-ai-service/docs/config_examples/config.azure.yaml
  wren-ai-service/docs/config_examples/config.deepseek.yaml
  wren-ai-service/docs/config_examples/config.google_ai_studio.yaml
  wren-ai-service/docs/config_examples/config.grok.yaml
  wren-ai-service/docs/config_examples/config.groq.yaml
  wren-ai-service/docs/config_examples/config.lm_studio.yaml
  wren-ai-service/docs/config_examples/config.ollama.yaml
  wren-ai-service/eval/pipelines.py
  wren-ai-service/src/config.py
  wren-ai-service/src/globals.py
  wren-ai-service/src/pipelines/retrieval/retrieval.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/tools/config/config.example.yaml
  wren-ai-service/tools/config/config.full.yaml
  wren-launcher/utils/docker.go
Labels: module/ai-service, ci/ai-service, launcher, wren-ai-service, deployment, ai-env-changed

#1608 feat(wren-ui): support records data source version
  wren-ui/migrations/20250510000002_add_version_to_project.js
  wren-ui/src/apollo/server/adaptors/ibisAdaptor.ts
  wren-ui/src/apollo/server/adaptors/tests/ibisAdaptor.test.ts
  wren-ui/src/apollo/server/repositories/projectRepository.ts
  wren-ui/src/apollo/server/resolvers/modelResolver.ts
  wren-ui/src/apollo/server/resolvers/projectResolver.ts
  wren-ui/src/apollo/server/services/metadataService.ts
  wren-ui/src/apollo/server/services/projectService.ts
Labels: wren-ui

#1619 fix(wren-ui): fix graphql schema and reading optional property error
  wren-ui/src/apollo/server/schema.ts
  wren-ui/src/apollo/server/services/dashboardService.ts
Labels: wren-ui
