Repository Canner/WrenAI, pull requests merged in 2025-07, with the labels that each got.

#1812 chore(wren-ai-service): fix circular import issue
  wren-ai-service/src/__main__.py
  wren-ai-service/src/web/development.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1816 chore(wren-ai-service): improve intent classification
  wren-ai-service/src/pipelines/generation/intent_classification.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1826 chore(wren-ai-service): allow data preview while recommending questions
  wren-ai-service/src/pipelines/generation/sql_generation.py
  wren-ai-service/src/pipelines/generation/utils/sql.py
  wren-ai-service/src/providers/engine/wren.py
  wren-ai-service/src/web/v1/routers/question_recommendation.py
  wren-ai-service/src/web/v1/services/question_recommendation.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1829 fix(wren-ai-service): minor update
  wren-ai-service/src/providers/engine/wren.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1830 chore(wren-ai-service): update deps
  wren-ai-service/poetry.lock
  wren-ai-service/pyproject.toml
Labels: module/ai-service, ci/ai-service

#1835 chore(wren-ai-service): fix typo
  wren-ai-service/docs/config_examples/config.google_vertexai.yaml
Labels: wren-ai-service

#1836 chore(wren-ai-service): improve text2sql
  wren-ai-service/src/core/pipeline.py
  wren-ai-service/src/pipelines/common.py
  wren-ai-service/src/pipelines/generation/chart_adjustment.py
  wren-ai-service/src/pipelines/generation/chart_generation.py
  wren-ai-service/src/pipelines/generation/data_assistance.py
  wren-ai-service/src/pipelines/generation/followup_sql_generation.py
  wren-ai-service/src/pipelines/generation/followup_sql_generation_reasoning.py
  wren-ai-service/src/pipelines/generation/intent_classification.py
  wren-ai-service/src/pipelines/generation/misleading_assistance.py
  wren-ai-service/src/pipelines/generation/question_recommendation.py
  wren-ai-service/src/pipelines/generation/relationship_recommendation.py
  wren-ai-service/src/pipelines/generation/semantics_description.py
  wren-ai-service/src/pipelines/generation/sql_answer.py
  wren-ai-service/src/pipelines/generation/sql_correction.py
  wren-ai-service/src/pipelines/generation/sql_generation.py
  wren-ai-service/src/pipelines/generation/sql_generation_reasoning.py
  wren-ai-service/src/pipelines/generation/sql_question.py
  wren-ai-service/src/pipelines/generation/sql_regeneration.py
  wren-ai-service/src/pipelines/generation/sql_tables_extraction.py
  wren-ai-service/src/pipelines/generation/user_guide_assistance.py
  wren-ai-service/src/pipelines/generation/utils/sql.py
  wren-ai-service/src/pipelines/indexing/db_schema.py
  wren-ai-service/src/pipelines/indexing/historical_question.py
  wren-ai-service/src/pipelines/indexing/instructions.py
  wren-ai-service/src/pipelines/indexing/project_meta.py
  wren-ai-service/src/pipelines/indexing/sql_pairs.py
  wren-ai-service/src/pipelines/indexing/table_description.py
  wren-ai-service/src/pipelines/retrieval/db_schema_retrieval.py
  wren-ai-service/src/pipelines/retrieval/historical_question_retrieval.py
  wren-ai-service/src/pipelines/retrieval/instructions.py
  wren-ai-service/src/pipelines/retrieval/preprocess_sql_data.py
  wren-ai-service/src/pipelines/retrieval/sql_executor.py
  wren-ai-service/src/pipelines/retrieval/sql_functions.py
  wren-ai-service/src/pipelines/retrieval/sql_pairs_retrieval.py
  wren-ai-service/src/web/v1/services/ask.py
  wren-ai-service/src/web/v1/services/question_recommendation.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1839 chore(wren-ai-service): improve text2sql
  wren-ai-service/src/pipelines/generation/utils/sql.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1843 chore(wren-ai-service): minor updates
  wren-ai-service/src/web/v1/routers/ask.py
  wren-ai-service/src/web/v1/routers/instructions.py
  wren-ai-service/src/web/v1/routers/question_recommendation.py
  wren-ai-service/src/web/v1/routers/relationship_recommendation.py
  wren-ai-service/src/web/v1/routers/semantics_description.py
  wren-ai-service/src/web/v1/routers/semantics_preparation.py
  wren-ai-service/src/web/v1/routers/sql_answers.py
  wren-ai-service/src/web/v1/routers/sql_corrections.py
  wren-ai-service/src/web/v1/routers/sql_pairs.py
  wren-ai-service/src/web/v1/routers/sql_question.py
Labels: module/ai-service, ci/ai-service, wren-ai-service

#1846 chore(wren-ai-service): improve text2sql
  wren-ai-service/src/pipelines/generation/utils/sql.py
Labels: module/ai-service, ci/ai-service, wren-ai-service
